# Data loading, storage, and file formats

In [71]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import sys
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4)

In [72]:
%pwd

u'/Users/hanzg/src/Personal/DataScience/pydata-book-master'

## Reading and Writing Data in Text Format

In [76]:
!cat ch06/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [ ]:
˙

In [4]:
df = pd.read_csv('ch06/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
pd.read_table('ch06/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
!cat ch06/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [19]:
pd.read_csv('ch06/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [14]:
pd.read_csv('ch06/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [37]:
names = ['a', 'b', 'c', 'd', 'message']
#pd.read_csv('ch06/ex2.csv', names=names, index_col='message')
test =pd.read_csv('ch06/ex2.csv', names=names, index_col= 4)

In [38]:
test

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [25]:
!cat ch06/csv_mindex.csv
parsed = pd.read_csv('ch06/csv_mindex.csv', index_col=['key1', 'key2'])
parsed

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [26]:
!cat ch06/ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [27]:
list(open('ch06/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [28]:
result = pd.read_table('ch06/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [43]:
!cat ch06/ex4.csv
pd.read_csv('ch06/ex4.csv', skiprows=[0, 2, 3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [44]:
!cat ch06/ex5.csv
result = pd.read_csv('ch06/ex5.csv')
result
pd.isnull(result)

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

In [ ]:
result = pd.read_csv('ch06/ex5.csv', na_values=['NULL'])
result

In [ ]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('ch06/ex5.csv', na_values=sentinels)

### Reading text files in pieces

In [45]:
result = pd.read_csv('ch06/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [46]:
pd.read_csv('ch06/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [50]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)
chunker

In [55]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)

tot = Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

In [54]:
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
V    328.0
I    327.0
U    326.0
P    324.0
D    320.0
A    320.0
R    318.0
Y    314.0
G    308.0
S    308.0
N    306.0
W    305.0
T    304.0
B    302.0
Z    288.0
C    286.0
4    171.0
6    166.0
7    164.0
8    162.0
3    162.0
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
dtype: float64

In [ ]:
tot[:10]

### Writing data out to text format

In [59]:
data = pd.read_csv('ch06/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [60]:
data.to_csv('ch06/out.csv')
!cat ch06/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [61]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [62]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [63]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [64]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [65]:
dates = pd.date_range('1/1/2000', periods=7)
ts = Series(np.arange(7), index=dates)
ts.to_csv('ch06/tseries.csv')
!cat ch06/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [66]:
Series.from_csv('ch06/tseries.csv', parse_dates=True)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

### Manually working with delimited formats

In [77]:
!cat ch06/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [78]:
import csv
f = open('ch06/ex7.csv')

reader = csv.reader(f)

In [79]:
reader

In [80]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [136]:
lines = list(csv.reader(open('ch06/ex7.csv')))
header, values = lines[0], lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [86]:
header

['a', 'b', 'c']

In [89]:
zip(*values)

[('1', '1'), ('2', '2'), ('3', '3')]

In [146]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [148]:
my_dialect.lineterminator

'\n'

In [159]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [151]:
writer

In [156]:
%cat mydata.csv

one;two;three
1;2;3
4;5;6
7;8;9

In [167]:
reader = csv.reader(open('mydata.csv'),dialect = my_dialect)

In [174]:
list([1,2,])

[1, 2]

In [163]:
reader

### JSON data

In [175]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
              {"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""

In [176]:
import json
result = json.loads(obj)
result

{u'name': u'Wes',
 u'pet': None,
 u'places_lived': [u'United States', u'Spain', u'Germany'],
 u'siblings': [{u'age': 25, u'name': u'Scott', u'pet': u'Zuko'},
  {u'age': 33, u'name': u'Katie', u'pet': u'Cisco'}]}

In [181]:
asjson = json.dumps(result)

In [178]:
asjson

'{"pet": null, "siblings": [{"pet": "Zuko", "age": 25, "name": "Scott"}, {"pet": "Cisco", "age": 33, "name": "Katie"}], "name": "Wes", "places_lived": ["United States", "Spain", "Germany"]}'

In [179]:
obj

'\n{"name": "Wes",\n "places_lived": ["United States", "Spain", "Germany"],\n "pet": null,\n "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},\n              {"name": "Katie", "age": 33, "pet": "Cisco"}]\n}\n'

In [183]:
result['siblings']

[{u'age': 25, u'name': u'Scott', u'pet': u'Zuko'},
 {u'age': 33, u'name': u'Katie', u'pet': u'Cisco'}]

In [184]:
DataFrame(result['siblings'])

   age   name    pet
0   25  Scott   Zuko
1   33  Katie  Cisco

In [182]:
siblings = DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   25
1  Katie   33

### XML and HTML, Web scraping

**NB. The Yahoo! Finance API has changed and this example no longer works**

In [185]:
from lxml.html import parse
from urllib2 import urlopen

parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))

doc = parsed.getroot()

ImportError: No module named lxml.html

In [208]:
import pandas as pd
from urllib2 import urlopen
from bs4 import BeautifulSoup as bs

soup = bs(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'),'html.parser')

In [ ]:
print soup.prettify()

In [212]:
links=soup.find_all('a')

In [218]:
urls = [link.get('href') for link in links]

In [221]:
urls[:-10]

[u'https://www.yahoo.com/',
 u'https://mail.yahoo.com/?.intl=us&.lang=en-US',
 u'https://www.flickr.com/',
 u'https://www.tumblr.com/',
 u'https://www.yahoo.com/news/',
 u'http://sports.yahoo.com/',
 u'http://finance.yahoo.com/',
 u'https://www.yahoo.com/celebrity/',
 u'https://answers.yahoo.com/',
 u'https://groups.yahoo.com/',
 u'https://mobile.yahoo.com/',
 u'http://everything.yahoo.com/',
 u'https://www.mozilla.org/firefox/new/?utm_source=yahoo&utm_medium=referral&utm_campaign=y-uh&utm_content=y-finance-try',
 u'https://finance.yahoo.com/',
 u'https://login.yahoo.com/config/login?.intl=us&.lang=en-US&.src=finance&.done=http%3A%2F%2Ffinance.yahoo.com%2Fquote%2FAAPL%2Foptions%3Fltr%3D1',
 u'https://mail.yahoo.com/?.intl=us&.lang=en-US&.partner=none&.src=finance',
 u'/',
 u'/personal-finance',
 u'https://www.yahoo.com/tech',
 u'/screener',
 u'/chart/ES=F',
 u'/quote/ES=F?p=ES=F',
 u'/chart/YM=F',
 u'/quote/YM=F?p=YM=F',
 u'/quote/GOOG?p=GOOG',
 u'/quote/FB?p=FB',
 u'/quote/AMZN?p=AMZN',
 u'/quote/INTC?p=INTC',
 u'/quote/NFLX?p=NFLX',
 u'/quote/AAPL?p=AAPL',
 u'/quote/AAPL/community?p=AAPL',
 u'/quote/AAPL/key-statistics?p=AAPL',
 u'/quote/AAPL/profile?p=AAPL',
 u'/quote/AAPL/financials?p=AAPL',
 u'/quote/AAPL/options?p=AAPL',
 u'/quote/AAPL/holders?p=AAPL',
 u'/quote/AAPL/history?p=AAPL',
 u'/quote/AAPL/analysts?p=AAPL']

In [234]:
tables = soup.find_all('table')

In [237]:
tables

[<table class="Bdsp(0) Bdcl(c) Maw(searchMaxWidth) Miw(searchMinWidth) W(searchWidth) ie-8_W(searchMinWidthLightWeight) ie-7_W(searchMinWidthLightWeight) ie-7_Miw(searchMinWidthLightWeight) ie-8_Miw(searchMinWidthLightWeight)" data-reactid="62"><tbody data-reactid="63"><tr data-reactid="64"><td class="W(100%) Va(t) Px(0)" data-reactid="65"><div data-reactid="66"><div class="Z(2) Pos(r)" data-reactid="67" id="search-assist-input"><div class="" data-reactid="68"><input aria-label="Search" autocapitalize="off" autocomplete="off" autocorrect="off" class="Pos(r) W(100%) M(0) O(0) O(0):f Bgc(#fff) Z(2) Bxsh(n) Bxsh(n):f Fz(15px) Px(15px) Py(8px) Bdrs(0) Pstart(10px) Pend(10px) Va(t)" data-reactid="69" name="p" placeholder="Search for news, symbols or companies" style="-webkit-appearance:none;" type="text" value=""/></div><div class="Pos(a) Ta(start) Start(0) End(0) Bgc(#fff) Z(1) D(n) Bd Bdc(#aaa) Bdtw(0) Mt(-1px)" data-reactid="70"><ul class="M(0)" data-reactid="71"></ul></div></div></div></td><td class="Va(t) Tren(os) W(10%) Whs(nw) Px(0) Bdcl(s)" data-reactid="72"><div data-reactid="73" id="search-buttons"><button class="Bdrs(4px) Bdtw(0) Bdw(1px) Bgr(rx) Mstart(5px) Bxz(cb) C(#fff) Ff(ss)! Fz(15px) two-btn_Fz(13px) Lh(32px)! Mend(0)! My(0)! Miw(92px) Px(14px) Py(0) Ta(c) Td(n) Va(t) Zoom Bg(searchBtnBg) Bxsh(customShadowSearchButton)" data-reactid="74" id="search-button" style="filter:chroma(color=#000000);" type="submit">Search</button></div></td></tr></tbody></table>]

In [239]:
tables.find('td')

AttributeError: 'ResultSet' object has no attribute 'find'

In [229]:
for table in tables:
    print table
    print '\n'
    print '\n'

<table class="Bdsp(0) Bdcl(c) Maw(searchMaxWidth) Miw(searchMinWidth) W(searchWidth) ie-8_W(searchMinWidthLightWeight) ie-7_W(searchMinWidthLightWeight) ie-7_Miw(searchMinWidthLightWeight) ie-8_Miw(searchMinWidthLightWeight)" data-reactid="62"><tbody data-reactid="63"><tr data-reactid="64"><td class="W(100%) Va(t) Px(0)" data-reactid="65"><div data-reactid="66"><div class="Z(2) Pos(r)" data-reactid="67" id="search-assist-input"><div class="" data-reactid="68"><input aria-label="Search" autocapitalize="off" autocomplete="off" autocorrect="off" class="Pos(r) W(100%) M(0) O(0) O(0):f Bgc(#fff) Z(2) Bxsh(n) Bxsh(n):f Fz(15px) Px(15px) Py(8px) Bdrs(0) Pstart(10px) Pend(10px) Va(t)" data-reactid="69" name="p" placeholder="Search for news, symbols or companies" style="-webkit-appearance:none;" type="text" value=""/></div><div class="Pos(a) Ta(start) Start(0) End(0) Bgc(#fff) Z(1) D(n) Bd Bdc(#aaa) Bdtw(0) Mt(-1px)" data-reactid="70"><ul class="M(0)" data-reactid="71"></ul></div></div></div></td><td class="Va(t) Tren(os) W(10%) Whs(nw) Px(0) Bdcl(s)" data-reactid="72"><div data-reactid="73" id="search-buttons"><button class="Bdrs(4px) Bdtw(0) Bdw(1px) Bgr(rx) Mstart(5px) Bxz(cb) C(#fff) Ff(ss)! Fz(15px) two-btn_Fz(13px) Lh(32px)! Mend(0)! My(0)! Miw(92px) Px(14px) Py(0) Ta(c) Td(n) Va(t) Zoom Bg(searchBtnBg) Bxsh(customShadowSearchButton)" data-reactid="74" id="search-button" style="filter:chroma(color=#000000);" type="submit">Search</button></div></td></tr></tbody></table>

In [230]:
tables[0]

<table class="Bdsp(0) Bdcl(c) Maw(searchMaxWidth) Miw(searchMinWidth) W(searchWidth) ie-8_W(searchMinWidthLightWeight) ie-7_W(searchMinWidthLightWeight) ie-7_Miw(searchMinWidthLightWeight) ie-8_Miw(searchMinWidthLightWeight)" data-reactid="62"><tbody data-reactid="63"><tr data-reactid="64"><td class="W(100%) Va(t) Px(0)" data-reactid="65"><div data-reactid="66"><div class="Z(2) Pos(r)" data-reactid="67" id="search-assist-input"><div class="" data-reactid="68"><input aria-label="Search" autocapitalize="off" autocomplete="off" autocorrect="off" class="Pos(r) W(100%) M(0) O(0) O(0):f Bgc(#fff) Z(2) Bxsh(n) Bxsh(n):f Fz(15px) Px(15px) Py(8px) Bdrs(0) Pstart(10px) Pend(10px) Va(t)" data-reactid="69" name="p" placeholder="Search for news, symbols or companies" style="-webkit-appearance:none;" type="text" value=""/></div><div class="Pos(a) Ta(start) Start(0) End(0) Bgc(#fff) Z(1) D(n) Bd Bdc(#aaa) Bdtw(0) Mt(-1px)" data-reactid="70"><ul class="M(0)" data-reactid="71"></ul></div></div></div></td><td class="Va(t) Tren(os) W(10%) Whs(nw) Px(0) Bdcl(s)" data-reactid="72"><div data-reactid="73" id="search-buttons"><button class="Bdrs(4px) Bdtw(0) Bdw(1px) Bgr(rx) Mstart(5px) Bxz(cb) C(#fff) Ff(ss)! Fz(15px) two-btn_Fz(13px) Lh(32px)! Mend(0)! My(0)! Miw(92px) Px(14px) Py(0) Ta(c) Td(n) Va(t) Zoom Bg(searchBtnBg) Bxsh(customShadowSearchButton)" data-reactid="74" id="search-button" style="filter:chroma(color=#000000);" type="submit">Search</button></div></td></tr></tbody></table>

In [231]:
tables[1]

IndexError: list index out of range

In [225]:
calls = tables[9]

IndexError: list index out of range

In [ ]:
links = doc.findall('.//a')
links[15:20]

In [ ]:
lnk = links[28]
lnk
lnk.get('href')
lnk.text_content()

In [ ]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]
urls[-10:]

In [240]:
tables = doc.findall('.//table')
calls = tables[9]
puts = tables[13]

NameError: name 'doc' is not defined

In [ ]:
rows = calls.findall('.//tr')

In [ ]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]

In [ ]:
_unpack(rows[0], kind='th')
_unpack(rows[1], kind='td')

In [ ]:
from pandas.io.parsers import TextParser

def parse_options_data(table):
    rows = table.findall('.//tr')
    header = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

In [ ]:
call_data = parse_options_data(calls)
put_data = parse_options_data(puts)
call_data[:10]

#### Parsing XML with lxml.objectify

In [ ]:
%cd ch06/mta_perf/Performance_XML_Data

In [ ]:
!head -21 Performance_MNR.xml

In [ ]:
from lxml import objectify

path = 'Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [ ]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [ ]:
perf = DataFrame(data)
perf

In [ ]:
root

In [ ]:
root.get('href')

In [ ]:
root.text

## Binary data formats

In [242]:
cd ../..

/Users/hanzg/src/Personal

In [243]:
pwd

u'/Users/hanzg/src/Personal'

In [244]:
!pwd

/Users/hanzg/src/Personal

In [245]:
cd /Users/hanzg/src/Personal/DataScience/pydata-book-master

/Users/hanzg/src/Personal/DataScience/pydata-book-master

In [250]:
frame = pd.read_csv('ch06/ex1.csv')
frame
frame.to_pickle('ch06/frame_pickle')

In [247]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [251]:
frame.save('ch06/frame_pickle')

AttributeError: 'DataFrame' object has no attribute 'save'

In [248]:
pd.read_pickle('ch06/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### Using HDF5 format

In [252]:
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

ImportError: HDFStore requires PyTables, "No module named tables" problem importing

In [ ]:
store['obj1']

In [ ]:
store.close()
os.remove('mydata.h5')

### Interacting with HTML and Web APIs

In [280]:
import requests
url = 'http://search.twitter.com/search.json?q=python%20pandas'
resp = requests.get(url)
resp

In [282]:
resp.text

u'{"errors":[{"message":"The Twitter REST API v1 is no longer active. Please migrate to API v1.1. https://dev.twitter.com/docs/api/1.1/overview.","code":64}]}'

In [281]:
resp.text

u'{"errors":[{"message":"The Twitter REST API v1 is no longer active. Please migrate to API v1.1. https://dev.twitter.com/docs/api/1.1/overview.","code":64}]}'

In [256]:
import json

In [275]:
data=json.loads(resp.text)

In [279]:
data

[{u'color': u'e10c02',
  u'default': False,
  u'id': 76811,
  u'name': u'Bug',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Bug'},
 {u'color': u'4E9A06',
  u'default': False,
  u'id': 76812,
  u'name': u'Enhancement',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement'},
 {u'color': u'FCE94F',
  u'default': False,
  u'id': 127681,
  u'name': u'Refactor',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Refactor'},
 {u'color': u'75507B',
  u'default': False,
  u'id': 129350,
  u'name': u'Build',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Build'},
 {u'color': u'3465A4',
  u'default': False,
  u'id': 134699,
  u'name': u'Docs',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Docs'},
 {u'color': u'729FCF',
  u'default': False,
  u'id': 233160,
  u'name': u'Groupby',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Groupby'},
 {u'color': u'06909A',
  u'default': False,
  u'id': 2301354,
  u'name': u'Data IO',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Data%20IO'},
 {u'color': u'8AE234',
  u'default': False,
  u'id': 2413328,
  u'name': u'Visualization',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Visualization'},
 {u'color': u'0b02e1',
  u'default': False,
  u'id': 2822098,
  u'name': u'Indexing',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Indexing'},
 {u'color': u'd7e102',
  u'default': False,
  u'id': 2822342,
  u'name': u'Missing-data',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Missing-data'},
 {u'color': u'a10c02',
  u'default': False,
  u'id': 8935311,
  u'name': u'Performance',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Performance'},
 {u'color': u'02d7e1',
  u'default': False,
  u'id': 13098779,
  u'name': u'Reshaping',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Reshaping'},
 {u'color': u'fbca04',
  u'default': False,
  u'id': 29648920,
  u'name': u'Difficulty Novice',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Difficulty%20Novice'},
 {u'color': u'e102d8',
  u'default': False,
  u'id': 31404521,
  u'name': u'Dtypes',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Dtypes'},
 {u'color': u'DDDDDD',
  u'default': False,
  u'id': 32933285,
  u'name': u'Note To Selves',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Note%20To%20Selves'},
 {u'color': u'AD7FA8',
  u'default': False,
  u'id': 35818298,
  u'name': u'API Design',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/API%20Design'},
 {u'color': u'ffa0ff',
  u'default': False,
  u'id': 42670965,
  u'name': u'Error Reporting',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Error%20Reporting'},
 {u'color': u'006b75',
  u'default': False,
  u'id': 47223669,
  u'name': u'Numeric',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Numeric'},
 {u'color': u'5319e7',
  u'default': False,
  u'id': 47229171,
  u'name': u'IO CSV',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/IO%20CSV'},
 {u'color': u'5319e7',
  u'default': False,
  u'id': 47232590,
  u'name': u'IO SQL',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/IO%20SQL'},
 {u'color': u'a2bca7',
  u'default': False,
  u'id': 48070600,
  u'name': u'CI',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/CI'},
 {u'color': u'fbca04',
  u'default': False,
  u'id': 49094459,
  u'name': u'Internals',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Internals'},
 {u'color': u'5319e7',
  u'default': False,
  u'id': 49597148,
  u'name': u'Timedelta',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Timedelta'},
 {u'color': u'0052cc',
  u'default': False,
  u'id': 53181044,
  u'name': u'Frequency',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Frequency'},
 {u'color': u'fbca04',
  u'default': False,
  u'id': 57186974,
  u'name': u'Windows',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Windows'},
 {u'color': u'eb6420',
  u'default': False,
  u'id': 57296398,
  u'name': u'Algos',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Algos'},
 {u'color': u'5319e7',
  u'default': False,
  u'id': 60458168,
  u'name': u'Timezones',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Timezones'},
 {u'color': u'eb6420',
  u'default': False,
  u'id': 60635328,
  u'name': u'Period',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Period'},
 {u'color': u'207de5',
  u'default': False,
  u'id': 71268330,
  u'name': u'MultiIndex',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/MultiIndex'},
 {u'color': u'e11d21',
  u'default': False,
  u'id': 78527356,
  u'name': u'Categorical',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Categorical'}]

In [ ]:
data

In [265]:
data.keys()

AttributeError: 'list' object has no attribute 'keys'

In [272]:
data = DataFrame(data)

In [273]:
data

,color,default,id,name,url
0,e10c02,False,76811,Bug,https://api.github.com/repos/pandas-dev/pandas...
1,4E9A06,False,76812,Enhancement,https://api.github.com/repos/pandas-dev/pandas...
2,FCE94F,False,127681,Refactor,https://api.github.com/repos/pandas-dev/pandas...
3,75507B,False,129350,Build,https://api.github.com/repos/pandas-dev/pandas...
4,3465A4,False,134699,Docs,https://api.github.com/repos/pandas-dev/pandas...
5,729FCF,False,233160,Groupby,https://api.github.com/repos/pandas-dev/pandas...
6,06909A,False,2301354,Data IO,https://api.github.com/repos/pandas-dev/pandas...
7,8AE234,False,2413328,Visualization,https://api.github.com/repos/pandas-dev/pandas...
8,0b02e1,False,2822098,Indexing,https://api.github.com/repos/pandas-dev/pandas...
9,d7e102,False,2822342,Missing-data,https://api.github.com/repos/pandas-dev/pandas...
10,a10c02,False,8935311,Performance,https://api.github.com/repos/pandas-dev/pandas...
11,02d7e1,False,13098779,Reshaping,https://api.github.com/repos/pandas-dev/pandas...
12,fbca04,False,29648920,Difficulty Novice,https://api.github.com/repos/pandas-dev/pandas...
13,e102d8,False,31404521,Dtypes,https://api.github.com/repos/pandas-dev/pandas...
14,DDDDDD,False,32933285,Note To Selves,https://api.github.com/repos/pandas-dev/pandas...
15,AD7FA8,False,35818298,API Design,https://api.github.com/repos/pandas-dev/pandas...
16,ffa0ff,False,42670965,Error Reporting,https://api.github.com/repos/pandas-dev/pandas...
17,006b75,False,47223669,Numeric,https://api.github.com/repos/pandas-dev/pandas...
18,5319e7,False,47229171,IO CSV,https://api.github.com/repos/pandas-dev/pandas...
19,5319e7,False,47232590,IO SQL,https://api.github.com/repos/pandas-dev/pandas...
20,a2bca7,False,48070600,CI,https://api.github.com/repos/pandas-dev/pandas...
21,fbca04,False,49094459,Internals,https://api.github.com/repos/pandas-dev/pandas...
22,5319e7,False,49597148,Timedelta,https://api.github.com/repos/pandas-dev/pandas...
23,0052cc,False,53181044,Frequency,https://api.github.com/repos/pandas-dev/pandas...
24,fbca04,False,57186974,Windows,https://api.github.com/repos/pandas-dev/pandas...
25,eb6420,False,57296398,Algos,https://api.github.com/repos/pandas-dev/pandas...
26,5319e7,False,60458168,Timezones,https://api.github.com/repos/pandas-dev/pandas...
27,eb6420,False,60635328,Period,https://api.github.com/repos/pandas-dev/pandas...
28,207de5,False,71268330,MultiIndex,https://api.github.com/repos/pandas-dev/pandas...
29,e11d21,False,78527356,Categorical,https://api.github.com/repos/pandas-dev/pandas...

In [269]:
print data[0][u'color']

e10c02

In [270]:
issue_labels = DataFrame(data)
issue_labels

,color,default,id,name,url
0,e10c02,False,76811,Bug,https://api.github.com/repos/pandas-dev/pandas...
1,4E9A06,False,76812,Enhancement,https://api.github.com/repos/pandas-dev/pandas...
2,FCE94F,False,127681,Refactor,https://api.github.com/repos/pandas-dev/pandas...
3,75507B,False,129350,Build,https://api.github.com/repos/pandas-dev/pandas...
4,3465A4,False,134699,Docs,https://api.github.com/repos/pandas-dev/pandas...
5,729FCF,False,233160,Groupby,https://api.github.com/repos/pandas-dev/pandas...
6,06909A,False,2301354,Data IO,https://api.github.com/repos/pandas-dev/pandas...
7,8AE234,False,2413328,Visualization,https://api.github.com/repos/pandas-dev/pandas...
8,0b02e1,False,2822098,Indexing,https://api.github.com/repos/pandas-dev/pandas...
9,d7e102,False,2822342,Missing-data,https://api.github.com/repos/pandas-dev/pandas...
10,a10c02,False,8935311,Performance,https://api.github.com/repos/pandas-dev/pandas...
11,02d7e1,False,13098779,Reshaping,https://api.github.com/repos/pandas-dev/pandas...
12,fbca04,False,29648920,Difficulty Novice,https://api.github.com/repos/pandas-dev/pandas...
13,e102d8,False,31404521,Dtypes,https://api.github.com/repos/pandas-dev/pandas...
14,DDDDDD,False,32933285,Note To Selves,https://api.github.com/repos/pandas-dev/pandas...
15,AD7FA8,False,35818298,API Design,https://api.github.com/repos/pandas-dev/pandas...
16,ffa0ff,False,42670965,Error Reporting,https://api.github.com/repos/pandas-dev/pandas...
17,006b75,False,47223669,Numeric,https://api.github.com/repos/pandas-dev/pandas...
18,5319e7,False,47229171,IO CSV,https://api.github.com/repos/pandas-dev/pandas...
19,5319e7,False,47232590,IO SQL,https://api.github.com/repos/pandas-dev/pandas...
20,a2bca7,False,48070600,CI,https://api.github.com/repos/pandas-dev/pandas...
21,fbca04,False,49094459,Internals,https://api.github.com/repos/pandas-dev/pandas...
22,5319e7,False,49597148,Timedelta,https://api.github.com/repos/pandas-dev/pandas...
23,0052cc,False,53181044,Frequency,https://api.github.com/repos/pandas-dev/pandas...
24,fbca04,False,57186974,Windows,https://api.github.com/repos/pandas-dev/pandas...
25,eb6420,False,57296398,Algos,https://api.github.com/repos/pandas-dev/pandas...
26,5319e7,False,60458168,Timezones,https://api.github.com/repos/pandas-dev/pandas...
27,eb6420,False,60635328,Period,https://api.github.com/repos/pandas-dev/pandas...
28,207de5,False,71268330,MultiIndex,https://api.github.com/repos/pandas-dev/pandas...
29,e11d21,False,78527356,Categorical,https://api.github.com/repos/pandas-dev/pandas...

## Interacting with databases

In [283]:
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [290]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [291]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[(u'Atlanta', u'Georgia', 1.25, 6),
 (u'Tallahassee', u'Florida', 2.6, 3),
 (u'Sacramento', u'California', 1.7, 5),
 (u'Atlanta', u'Georgia', 1.25, 6),
 (u'Tallahassee', u'Florida', 2.6, 3),
 (u'Sacramento', u'California', 1.7, 5),
 (u'Atlanta', u'Georgia', 1.25, 6),
 (u'Tallahassee', u'Florida', 2.6, 3),
 (u'Sacramento', u'California', 1.7, 5),
 (u'Atlanta', u'Georgia', 1.25, 6),
 (u'Tallahassee', u'Florida', 2.6, 3),
 (u'Sacramento', u'California', 1.7, 5)]

In [292]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [297]:
zip(*cursor.description)

[('a', 'b', 'c', 'd'),
 (None, None, None, None),
 (None, None, None, None),
 (None, None, None, None),
 (None, None, None, None),
 (None, None, None, None),
 (None, None, None, None)]

In [ ]:
DataFrame(rows, columns=zip(*cursor.description)[0])

In [301]:
DataFrame(rows, columns=('a','b','c','d'))

              a           b     c  d
0       Atlanta     Georgia  1.25  6
1   Tallahassee     Florida  2.60  3
2    Sacramento  California  1.70  5
3       Atlanta     Georgia  1.25  6
4   Tallahassee     Florida  2.60  3
5    Sacramento  California  1.70  5
6       Atlanta     Georgia  1.25  6
7   Tallahassee     Florida  2.60  3
8    Sacramento  California  1.70  5
9       Atlanta     Georgia  1.25  6
10  Tallahassee     Florida  2.60  3
11   Sacramento  California  1.70  5

In [303]:
import pandas.io.sql as sql
sql.read_sql('select * from test', con)

              a           b     c  d
0       Atlanta     Georgia  1.25  6
1   Tallahassee     Florida  2.60  3
2    Sacramento  California  1.70  5
3       Atlanta     Georgia  1.25  6
4   Tallahassee     Florida  2.60  3
5    Sacramento  California  1.70  5
6       Atlanta     Georgia  1.25  6
7   Tallahassee     Florida  2.60  3
8    Sacramento  California  1.70  5
9       Atlanta     Georgia  1.25  6
10  Tallahassee     Florida  2.60  3
11   Sacramento  California  1.70  5