# Financial and Economic Data Applications

In [22]:
from __future__ import division
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
pd.options.display.max_rows = 12
np.set_printoptions(precision=4, suppress=True)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 6))

In [2]:
%matplotlib inline

In [3]:
%pwd

u'/Users/hanzg/src/Personal/DataScience/pydata-book-master'

## Data munging topics

### Time series and cross-section alignment

In [6]:
close_px = pd.read_csv('ch11/stock_px.csv', parse_dates=True, index_col=0)
volume = pd.read_csv('ch11/volume.csv', parse_dates=True, index_col=0)

In [5]:
close_px

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
1990-02-01   4.98    7.86   2.87   16.79   4.27   0.51   6.04   328.79   6.12
1990-02-02   5.04    8.00   2.87   16.89   4.37   0.51   6.09   330.92   6.24
1990-02-05   5.07    8.18   2.87   17.32   4.34   0.51   6.05   331.85   6.25
1990-02-06   5.01    8.12   2.88   17.56   4.32   0.51   6.15   329.66   6.23
1990-02-07   5.04    7.77   2.91   17.93   4.38   0.51   6.17   333.75   6.33
1990-02-08   5.04    7.71   2.92   17.86   4.46   0.51   6.22   332.96   6.35
...           ...     ...    ...     ...    ...    ...    ...      ...    ...
2011-10-07   9.71  369.80  15.50  182.39  63.13  26.25  61.02  1155.46  73.56
2011-10-10  10.09  388.81  16.14  186.62  64.43  26.94  61.87  1194.89  76.28
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

[5472 rows x 9 columns]

In [7]:
volume

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
1990-02-01,2185600.0,4193200.0,14457600.0,6903600.0,5942400.0,89193600.0,2954400.0,1.545800e+08,2916400.0
1990-02-02,3103200.0,4248800.0,15302400.0,6064400.0,4732800.0,71395200.0,2424000.0,1.644000e+08,4250000.0
1990-02-05,1792800.0,3653200.0,9134400.0,5299200.0,3950400.0,59731200.0,2225400.0,1.309500e+08,5880800.0
1990-02-06,2205600.0,2640000.0,14389200.0,10808000.0,3761600.0,81964800.0,3270000.0,1.340700e+08,4750800.0
1990-02-07,3592800.0,11180800.0,18704400.0,12057600.0,5458400.0,134150400.0,4332600.0,1.867100e+08,4124800.0
1990-02-08,2777600.0,6680000.0,16513200.0,7932000.0,8669600.0,95225600.0,5133000.0,1.762400e+08,5651200.0
...,...,...,...,...,...,...,...,...,...
2011-10-07,44873300.0,19123500.0,65569100.0,6842600.0,12361600.0,52741600.0,7909800.0,5.580380e+09,23573900.0
2011-10-10,29555500.0,15769200.0,56154800.0,5784800.0,7104000.0,41815300.0,5985600.0,4.446800e+09,20455700.0
2011-10-11,54708100.0,21609800.0,45999500.0,5330500.0,7628700.0,38826200.0,10261900.0,4.424500e+09,17862100.0
2011-10-12,109803600.0,22206600.0,61755100.0,5338200.0,9375100.0,52489800.0,13796200.0,5.355360e+09,22239000.0
2011-10-13,42546500.0,15177900.0,46124800.0,4399200.0,7781100.0,43823500.0,6887300.0,4.436270e+09,19540300.0
2011-10-14,38184400.0,20450000.0,45134200.0,5368200.0,6678800.0,50947700.0,8736600.0,4.116690e+09,17870600.0

In [8]:
prices = close_px.ix['2011-09-05':'2011-09-14', ['AAPL', 'JNJ', 'SPX', 'XOM']]
volume = volume.ix['2011-09-05':'2011-09-12', ['AAPL', 'JNJ', 'XOM']]

In [9]:
prices

              AAPL    JNJ      SPX    XOM
2011-09-06  379.74  64.64  1165.24  71.15
2011-09-07  383.93  65.43  1198.62  73.65
2011-09-08  384.14  64.95  1185.90  72.82
2011-09-09  377.48  63.64  1154.23  71.01
2011-09-12  379.94  63.59  1162.27  71.84
2011-09-13  384.62  63.61  1172.87  71.65
2011-09-14  389.30  63.73  1188.68  72.64

In [10]:
volume

                  AAPL         JNJ         XOM
2011-09-06  18173500.0  15848300.0  25416300.0
2011-09-07  12492000.0  10759700.0  23108400.0
2011-09-08  14839800.0  15551500.0  22434800.0
2011-09-09  20171900.0  17008200.0  27969100.0
2011-09-12  16697300.0  13448200.0  26205800.0

In [11]:
prices * volume

                    AAPL           JNJ  SPX           XOM
2011-09-06  6.901205e+09  1.024434e+09  NaN  1.808370e+09
2011-09-07  4.796054e+09  7.040072e+08  NaN  1.701934e+09
2011-09-08  5.700561e+09  1.010070e+09  NaN  1.633702e+09
2011-09-09  7.614489e+09  1.082402e+09  NaN  1.986086e+09
2011-09-12  6.343972e+09  8.551710e+08  NaN  1.882625e+09
2011-09-13           NaN           NaN  NaN           NaN
2011-09-14           NaN           NaN  NaN           NaN

In [12]:
vwap = (prices * volume).sum() / volume.sum()

In [13]:
vwap

AAPL    380.655181
JNJ      64.394769
SPX            NaN
XOM      72.024288
dtype: float64

In [14]:
vwap.dropna()

AAPL    380.655181
JNJ      64.394769
XOM      72.024288
dtype: float64

In [15]:
prices.align(volume, join='inner')

(              AAPL    JNJ    XOM
 2011-09-06  379.74  64.64  71.15
 2011-09-07  383.93  65.43  73.65
 2011-09-08  384.14  64.95  72.82
 2011-09-09  377.48  63.64  71.01
 2011-09-12  379.94  63.59  71.84,
                   AAPL         JNJ         XOM
 2011-09-06  18173500.0  15848300.0  25416300.0
 2011-09-07  12492000.0  10759700.0  23108400.0
 2011-09-08  14839800.0  15551500.0  22434800.0
 2011-09-09  20171900.0  17008200.0  27969100.0
 2011-09-12  16697300.0  13448200.0  26205800.0)

In [16]:
s1 = Series(range(3), index=['a', 'b', 'c'])
s2 = Series(range(4), index=['d', 'b', 'c', 'e'])
s3 = Series(range(3), index=['f', 'a', 'c'])
DataFrame({'one': s1, 'two': s2, 'three': s3})

   one  three  two
a  0.0    1.0  NaN
b  1.0    NaN  1.0
c  2.0    2.0  2.0
d  NaN    NaN  0.0
e  NaN    NaN  3.0
f  NaN    0.0  NaN

In [17]:
DataFrame({'one': s1, 'two': s2, 'three': s3}, index=list('face'))

   one  three  two
f  NaN    0.0  NaN
a  0.0    1.0  NaN
c  2.0    2.0  2.0
e  NaN    NaN  3.0

### Operations with time series of different frequencies

In [35]:
ts1 = Series(np.random.randn(3),
             index=pd.date_range('2012-6-13', periods=3, freq='W-WED'))
ts1

2012-06-13    0.885218
2012-06-20   -0.312311
2012-06-27    1.133287
Freq: W-WED, dtype: float64

In [23]:
from dateutil.parser import parse
test=parse('20161215')

In [33]:
test.weekday()

3

In [37]:
ts1.resample('B')

DatetimeIndexResampler [freq=<BusinessDay>, axis=0, closed=left, label=left, convention=start, base=0]

In [39]:
ts1.resample('B', fill_method='ffill')

/Library/Python/2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: fill_method is deprecated to .resample()
the new syntax is .resample(...).ffill()
  if __name__ == '__main__':

2012-06-13    0.885218
2012-06-14    0.885218
2012-06-15    0.885218
2012-06-18    0.885218
2012-06-19    0.885218
2012-06-20   -0.312311
2012-06-21   -0.312311
2012-06-22   -0.312311
2012-06-25   -0.312311
2012-06-26   -0.312311
2012-06-27    1.133287
Freq: B, dtype: float64

In [41]:
dates = pd.DatetimeIndex(['2012-6-12', '2012-6-17', '2012-6-18',
                          '2012-6-21', '2012-6-22', '2012-6-29'])

In [42]:
dates

DatetimeIndex(['2012-06-12', '2012-06-17', '2012-06-18', '2012-06-21',
               '2012-06-22', '2012-06-29'],
              dtype='datetime64[ns]', freq=None)

In [46]:
ts2 = Series(np.random.randn(6), index=dates)
ts2

2012-06-12   -0.020600
2012-06-17   -1.110909
2012-06-18   -0.737766
2012-06-21    0.723278
2012-06-22   -0.643924
2012-06-29    1.458234
dtype: float64

In [47]:
ts1.reindex(ts2.index)

2012-06-12   NaN
2012-06-17   NaN
2012-06-18   NaN
2012-06-21   NaN
2012-06-22   NaN
2012-06-29   NaN
dtype: float64

In [51]:
ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17    0.885218
2012-06-18    0.885218
2012-06-21   -0.312311
2012-06-22   -0.312311
2012-06-29    1.133287
dtype: float64

In [50]:
ts2

2012-06-12   -0.020600
2012-06-17   -1.110909
2012-06-18   -0.737766
2012-06-21    0.723278
2012-06-22   -0.643924
2012-06-29    1.458234
dtype: float64

In [53]:
ts2 + ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17   -0.225691
2012-06-18    0.147452
2012-06-21    0.410967
2012-06-22   -0.956236
2012-06-29    2.591521
dtype: float64

#### Using periods instead of timestamps

In [55]:
gdp = Series([1.78, 1.94, 2.08, 2.01, 2.15, 2.31, 2.46],
             index=pd.period_range('1984Q2', periods=7, freq='Q-SEP'))
infl = Series([0.025, 0.045, 0.037, 0.04],
              index=pd.period_range('1982', periods=4, freq='A-DEC'))
gdp

1984Q2    1.78
1984Q3    1.94
1984Q4    2.08
1985Q1    2.01
1985Q2    2.15
1985Q3    2.31
1985Q4    2.46
Freq: Q-SEP, dtype: float64

In [6]:
infl

1982    0.025
1983    0.045
1984    0.037
1985    0.040
Freq: A-DEC, dtype: float64

In [61]:
infl_q = infl.asfreq('Q-SEP', how='end')

In [62]:
infl_q

1983Q1    0.025
1984Q1    0.045
1985Q1    0.037
1986Q1    0.040
Freq: Q-SEP, dtype: float64

In [63]:
infl_q.reindex(gdp.index, method='ffill')

1984Q2    0.045
1984Q3    0.045
1984Q4    0.045
1985Q1    0.037
1985Q2    0.037
1985Q3    0.037
1985Q4    0.037
Freq: Q-SEP, dtype: float64

### Time of day and "as of" data selection

In [64]:
# Make an intraday date range and time series
rng = pd.date_range('2012-06-01 09:30', '2012-06-01 15:59', freq='T')
rng

DatetimeIndex(['2012-06-01 09:30:00', '2012-06-01 09:31:00',
               '2012-06-01 09:32:00', '2012-06-01 09:33:00',
               '2012-06-01 09:34:00', '2012-06-01 09:35:00',
               '2012-06-01 09:36:00', '2012-06-01 09:37:00',
               '2012-06-01 09:38:00', '2012-06-01 09:39:00',
               ...
               '2012-06-01 15:50:00', '2012-06-01 15:51:00',
               '2012-06-01 15:52:00', '2012-06-01 15:53:00',
               '2012-06-01 15:54:00', '2012-06-01 15:55:00',
               '2012-06-01 15:56:00', '2012-06-01 15:57:00',
               '2012-06-01 15:58:00', '2012-06-01 15:59:00'],
              dtype='datetime64[ns]', length=390, freq='T')

In [65]:
# Make a 5-day series of 9:30-15:59 values
rng = rng.append([rng + pd.offsets.BDay(i) for i in range(1, 4)])
rng

DatetimeIndex(['2012-06-01 09:30:00', '2012-06-01 09:31:00',
               '2012-06-01 09:32:00', '2012-06-01 09:33:00',
               '2012-06-01 09:34:00', '2012-06-01 09:35:00',
               '2012-06-01 09:36:00', '2012-06-01 09:37:00',
               '2012-06-01 09:38:00', '2012-06-01 09:39:00',
               ...
               '2012-06-06 15:50:00', '2012-06-06 15:51:00',
               '2012-06-06 15:52:00', '2012-06-06 15:53:00',
               '2012-06-06 15:54:00', '2012-06-06 15:55:00',
               '2012-06-06 15:56:00', '2012-06-06 15:57:00',
               '2012-06-06 15:58:00', '2012-06-06 15:59:00'],
              dtype='datetime64[ns]', length=1560, freq=None)

In [70]:
ts = Series(np.arange(len(rng), dtype=float), index=rng)
ts

2012-06-01 09:30:00       0.0
2012-06-01 09:31:00       1.0
2012-06-01 09:32:00       2.0
2012-06-01 09:33:00       3.0
2012-06-01 09:34:00       4.0
2012-06-01 09:35:00       5.0
                        ...
2012-06-06 15:54:00    1554.0
2012-06-06 15:55:00    1555.0
2012-06-06 15:56:00    1556.0
2012-06-06 15:57:00    1557.0
2012-06-06 15:58:00    1558.0
2012-06-06 15:59:00    1559.0
dtype: float64

In [68]:
from datetime import time
ts[time(10,0)]

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [82]:
ts.at_time(time(10, 0))

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [83]:
ts.between_time(time(10, 0), time(10, 1))

2012-06-01 10:00:00      30.0
2012-06-01 10:01:00      31.0
2012-06-04 10:00:00     420.0
2012-06-04 10:01:00     421.0
2012-06-05 10:00:00     810.0
2012-06-05 10:01:00     811.0
2012-06-06 10:00:00    1200.0
2012-06-06 10:01:00    1201.0
dtype: float64

In [85]:
np.random.seed(12346)

In [94]:
# Set most of the time series randomly to NA
indexer = np.sort(np.random.permutation(len(ts))[700:])
indexer

array([   0,    2,    3,    4,    8,    9,   13,   16,   24,   26,   27,
         28,   29,   30,   31,   36,   37,   40,   42,   44,   45,   51,
         53,   54,   55,   56,   58,   60,   61,   63,   64,   65,   66,
         67,   68,   69,   74,   75,   80,   83,   85,   86,   87,   88,
         89,   93,   95,   96,   98,  100,  101,  103,  105,  106,  107,
        108,  109,  110,  111,  113,  115,  116,  119,  120,  121,  122,
        126,  127,  129,  132,  133,  134,  135,  137,  138,  141,  142,
        144,  145,  147,  148,  149,  150,  151,  152,  153,  154,  155,
        156,  159,  161,  163,  164,  165,  167,  168,  169,  170,  171,
        172,  173,  174,  176,  179,  183,  184,  185,  186,  187,  188,
        192,  194,  195,  196,  200,  201,  202,  206,  208,  212,  213,
        214,  215,  216,  217,  219,  221,  222,  223,  224,  226,  227,
        228,  229,  230,  231,  232,  233,  235,  238,  240,  241,  242,
        244,  245,  247,  248,  257,  258,  259,  261,  262,  263,  265,
        266,  267,  268,  272,  274,  277,  278,  280,  281,  284,  285,
        289,  291,  292,  293,  294,  295,  296,  299,  301,  302,  304,
        307,  309,  314,  316,  317,  323,  325,  327,  328,  330,  333,
        334,  336,  337,  339,  345,  347,  348,  350,  351,  352,  353,
        354,  361,  366,  367,  371,  372,  375,  376,  377,  379,  380,
        381,  383,  384,  387,  388,  389,  390,  393,  395,  399,  401,
        405,  406,  409,  411,  412,  414,  415,  419,  420,  421,  423,
        427,  428,  431,  432,  435,  438,  440,  441,  443,  444,  445,
        446,  448,  449,  450,  451,  452,  454,  456,  464,  465,  466,
        468,  470,  471,  473,  474,  475,  477,  478,  481,  483,  484,
        486,  489,  492,  493,  494,  497,  499,  501,  503,  509,  512,
        513,  514,  516,  517,  520,  522,  523,  524,  525,  527,  528,
        530,  532,  533,  534,  535,  537,  538,  539,  540,  542,  543,
        546,  547,  548,  550,  551,  553,  555,  556,  557,  562,  563,
        565,  566,  567,  568,  570,  571,  575,  576,  577,  581,  582,
        585,  586,  587,  592,  594,  595,  598,  599,  600,  606,  607,
        610,  611,  612,  613,  614,  615,  617,  618,  620,  621,  626,
        627,  628,  629,  632,  633,  636,  637,  638,  640,  645,  646,
        648,  654,  656,  658,  661,  667,  668,  669,  673,  674,  675,
        678,  679,  680,  681,  682,  683,  684,  685,  688,  689,  690,
        693,  695,  696,  698,  703,  705,  706,  708,  710,  712,  714,
        716,  717,  719,  720,  721,  722,  724,  725,  726,  732,  733,
        735,  736,  740,  741,  742,  743,  744,  747,  748,  750,  753,
        754,  757,  758,  760,  764,  766,  767,  768,  769,  770,  771,
        774,  775,  778,  779,  780,  783,  786,  788,  790,  795,  796,
        797,  798,  801,  802,  803,  804,  805,  807,  810,  814,  815,
        816,  818,  819,  821,  823,  824,  825,  826,  827,  828,  831,
        832,  834,  837,  838,  842,  844,  845,  846,  847,  852,  853,
        856,  861,  862,  863,  865,  866,  869,  870,  872,  875,  876,
        880,  881,  883,  885,  886,  889,  890,  891,  893,  896,  897,
        903,  909,  912,  913,  916,  917,  919,  920,  921,  923,  924,
        925,  926,  927,  930,  931,  933,  935,  936,  938,  941,  942,
        943,  944,  946,  948,  951,  953,  954,  955,  956,  960,  962,
        963,  964,  965,  966,  967,  968,  969,  970,  971,  972,  973,
        974,  976,  977,  978,  979,  980,  981,  982,  983,  984,  985,
        986,  987,  989,  992,  994,  995,  998,  999, 1001, 1003, 1004,
       1005, 1006, 1007, 1009, 1011, 1012, 1013, 1014, 1018, 1021, 1022,
       1024, 1027, 1028, 1033, 1035, 1037, 1040, 1041, 1043, 1045, 1046,
       1047, 1048, 1052, 1053, 1056, 1058, 1060, 1062, 1064, 1066, 1067,
       1069, 1071, 1072, 1073, 1074, 1076, 1077, 1080, 1082, 1084, 1085,
       1087, 1088, 1090, 1091, 1093, 1094, 1097, 1099, 1102, 1103, 1104,
       1105, 1107, 1108, 1109, 1111, 1114, 1115, 1120, 1121, 1127, 1128,
       1129, 1130, 1131, 1133, 1134, 1135, 1136, 1138, 1139, 1140, 1141,
       1142, 1143, 1144, 1146, 1147, 1148, 1150, 1151, 1152, 1153, 1154,
       1157, 1158, 1159, 1161, 1162, 1163, 1164, 1165, 1166, 1172, 1179,
       1181, 1182, 1183, 1184, 1185, 1187, 1191, 1192, 1196, 1197, 1198,
       1201, 1202, 1205, 1207, 1208, 1209, 1210, 1211, 1212, 1216, 1217,
       1219, 1220, 1221, 1224, 1225, 1229, 1230, 1234, 1235, 1236, 1238,
       1239, 1241, 1242, 1244, 1245, 1246, 1247, 1249, 1250, 1251, 1254,
       1256, 1260, 1264, 1267, 1268, 1269, 1270, 1272, 1273, 1274, 1275,
       1277, 1278, 1279, 1281, 1282, 1283, 1284, 1286, 1287, 1288, 1290,
       1291, 1293, 1295, 1296, 1297, 1302, 1303, 1304, 1306, 1307, 1309,
       1311, 1312, 1313, 1317, 1319, 1322, 1323, 1325, 1326, 1327, 1328,
       1330, 1331, 1333, 1334, 1335, 1338, 1339, 1345, 1347, 1348, 1350,
       1351, 1354, 1356, 1357, 1360, 1362, 1364, 1365, 1366, 1367, 1368,
       1370, 1371, 1374, 1377, 1379, 1380, 1381, 1382, 1392, 1394, 1397,
       1398, 1399, 1401, 1403, 1407, 1410, 1411, 1412, 1414, 1415, 1416,
       1418, 1419, 1421, 1423, 1425, 1426, 1430, 1431, 1435, 1436, 1438,
       1439, 1440, 1441, 1442, 1445, 1446, 1448, 1451, 1453, 1454, 1456,
       1457, 1459, 1462, 1464, 1465, 1466, 1467, 1468, 1470, 1471, 1472,
       1473, 1475, 1476, 1477, 1478, 1479, 1482, 1488, 1490, 1491, 1493,
       1495, 1499, 1500, 1501, 1502, 1504, 1507, 1508, 1510, 1511, 1513,
       1514, 1515, 1516, 1519, 1520, 1523, 1529, 1531, 1532, 1534, 1535,
       1538, 1539, 1541, 1543, 1545, 1546, 1548, 1549, 1550, 1551, 1553,
       1557, 1559])

In [96]:
irr_ts = ts.copy()
irr_ts[indexer] = np.nan
irr_ts

2012-06-01 09:30:00       NaN
2012-06-01 09:31:00       1.0
2012-06-01 09:32:00       NaN
2012-06-01 09:33:00       NaN
2012-06-01 09:34:00       NaN
2012-06-01 09:35:00       5.0
                        ...
2012-06-06 15:54:00    1554.0
2012-06-06 15:55:00    1555.0
2012-06-06 15:56:00    1556.0
2012-06-06 15:57:00       NaN
2012-06-06 15:58:00    1558.0
2012-06-06 15:59:00       NaN
dtype: float64

In [97]:
irr_ts['2012-06-01 09:50':'2012-06-01 10:00']

2012-06-01 09:50:00    20.0
2012-06-01 09:51:00    21.0
2012-06-01 09:52:00    22.0
2012-06-01 09:53:00    23.0
2012-06-01 09:54:00     NaN
2012-06-01 09:55:00    25.0
2012-06-01 09:56:00     NaN
2012-06-01 09:57:00     NaN
2012-06-01 09:58:00     NaN
2012-06-01 09:59:00     NaN
2012-06-01 10:00:00     NaN
dtype: float64

In [50]:
selection = pd.date_range('2012-06-01 10:00', periods=4, freq='B')
selection

DatetimeIndex(['2012-06-01 10:00:00', '2012-06-04 10:00:00',
               '2012-06-05 10:00:00', '2012-06-06 10:00:00'],
              dtype='datetime64[ns]', freq='B')

In [51]:
irr_ts.asof(selection)

2012-06-01 10:00:00      25.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1197.0
Freq: B, dtype: float64

### Splicing together data sources

In [99]:
data1 = DataFrame(np.ones((6, 3), dtype=float),
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('6/12/2012', periods=6))
data1

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  1.0  1.0  1.0
2012-06-16  1.0  1.0  1.0
2012-06-17  1.0  1.0  1.0

In [100]:
data2 = DataFrame(np.ones((6, 3), dtype=float) * 2,
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('6/13/2012', periods=6))
data2

              a    b    c
2012-06-13  2.0  2.0  2.0
2012-06-14  2.0  2.0  2.0
2012-06-15  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0

In [105]:
spliced = pd.concat([data1.ix[:'2012-06-14'], data2.ix['2012-06-15':]])
spliced

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0

In [106]:
data2 = DataFrame(np.ones((6, 4), dtype=float) * 2, columns=['a', 'b', 'c', 'd'], index=pd.date_range('6/13/2012', periods=6))
data2

              a    b    c    d
2012-06-13  2.0  2.0  2.0  2.0
2012-06-14  2.0  2.0  2.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [115]:
spliced = pd.concat([data1.ix[:'2012-06-14'], data2.ix['2012-06-15':]])
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  NaN
2012-06-14  1.0  1.0  1.0  NaN
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [108]:
spliced_filled = spliced.combine_first(data2)
spliced_filled

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [116]:
spliced.update(data2, overwrite=False)
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [120]:
cp_spliced = spliced.copy()
data1

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  1.0  1.0  1.0
2012-06-16  1.0  1.0  1.0
2012-06-17  1.0  1.0  1.0

In [121]:
cp_spliced[['a', 'c']] = data1[['a', 'c']]
cp_spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  1.0  2.0  1.0  2.0
2012-06-16  1.0  2.0  1.0  2.0
2012-06-17  1.0  2.0  1.0  2.0
2012-06-18  NaN  2.0  NaN  2.0

### Return indexes and cumulative returns

In [126]:
import pandas.io.data as web
price = web.get_data_yahoo('AAPL', '2011-01-01')['Adj Close']
price[-5:]

Date
2016-12-08    112.120003
2016-12-09    113.949997
2016-12-12    113.300003
2016-12-13    115.190002
2016-12-14    115.190002
Name: Adj Close, dtype: float64

In [127]:
price

Date
2011-01-03     42.884065
2011-01-04     43.107876
2011-01-05     43.460504
2011-01-06     43.425368
2011-01-07     43.736360
2011-01-10     44.560027
                 ...
2016-12-07    111.029999
2016-12-08    112.120003
2016-12-09    113.949997
2016-12-12    113.300003
2016-12-13    115.190002
2016-12-14    115.190002
Name: Adj Close, dtype: float64

In [128]:
price['2011-10-03'] / price['2011-3-01'] - 1

0.072399878739767276

In [130]:
returns = price.pct_change()
returns

Date
2011-01-03         NaN
2011-01-04    0.005219
2011-01-05    0.008180
2011-01-06   -0.000808
2011-01-07    0.007162
2011-01-10    0.018833
                ...
2016-12-07    0.009823
2016-12-08    0.009817
2016-12-09    0.016322
2016-12-12   -0.005704
2016-12-13    0.016681
2016-12-14    0.000000
Name: Adj Close, dtype: float64

In [132]:
ret_index = (1 + returns).cumprod()
ret_index

Date
2011-01-03         NaN
2011-01-04    1.005219
2011-01-05    1.013442
2011-01-06    1.012622
2011-01-07    1.019874
2011-01-10    1.039081
                ...
2016-12-07    2.589074
2016-12-08    2.614491
2016-12-09    2.657164
2016-12-12    2.642007
2016-12-13    2.686079
2016-12-14    2.686079
Name: Adj Close, dtype: float64

In [133]:
ret_index[0] = 1  # Set first value to 1
ret_index

Date
2011-01-03    1.000000
2011-01-04    1.005219
2011-01-05    1.013442
2011-01-06    1.012622
2011-01-07    1.019874
2011-01-10    1.039081
                ...
2016-12-07    2.589074
2016-12-08    2.614491
2016-12-09    2.657164
2016-12-12    2.642007
2016-12-13    2.686079
2016-12-14    2.686079
Name: Adj Close, dtype: float64

In [138]:
m_returns = ret_index.resample('BM', how='last').pct_change()
m_returns['2012']

/Library/Python/2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()
  if __name__ == '__main__':

Date
2012-01-31    0.127111
2012-02-29    0.188311
2012-03-30    0.105284
2012-04-30   -0.025970
2012-05-31   -0.010702
2012-06-29    0.010853
2012-07-31    0.045822
2012-08-31    0.093877
2012-09-28    0.002796
2012-10-31   -0.107600
2012-11-30   -0.012375
2012-12-31   -0.090743
Freq: BM, Name: Adj Close, dtype: float64

In [139]:
m_rets = (1 + returns).resample('M', how='prod', kind='period') - 1
m_rets['2012']

/Library/Python/2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).prod()
  if __name__ == '__main__':

Date
2012-01    0.127111
2012-02    0.188311
2012-03    0.105284
2012-04   -0.025970
2012-05   -0.010702
2012-06    0.010853
2012-07    0.045822
2012-08    0.093877
2012-09    0.002796
2012-10   -0.107600
2012-11   -0.012375
2012-12   -0.090743
Freq: M, Name: Adj Close, dtype: float64

returns[dividend_dates] += dividend_pcts

## Group transforms and analysis

In [158]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 10
np.random.seed(12345)

In [212]:
import random; random.seed(0)
import string
string.ascii_uppercase
aa_milne_arr = string.ascii_uppercase
random.choice(aa_milne_arr)

'V'

In [6]:
import random; random.seed(0)
import string

N = 1000
def rands(n):
    choices = string.ascii_uppercase
    return ''.join([random.choice(choices) for _ in xrange(n)])
tickers = np.array([rands(5) for _ in xrange(N)])

In [7]:
tickers

array(['VTKGN', 'KUHMP', 'XNHTQ', 'GXZVX', 'ISXRM', 'CLPXZ', 'MWGUO',
       'ASKVR', 'AMWGI', 'WEOGZ', 'ULCIN', 'YCOSO', 'VOZPP', 'LPKOH',
       'EEPRM', 'CTWYV', 'XYOKS', 'HVWXP', 'YPLRZ', 'XUCPM', 'QVGTD',
       'FUIVC', 'DSBOX', 'NRAQP', 'OKJZA', 'AYEDF', 'UYALC', 'GFQJE',
       'NBCZF', 'JTVXE', 'RZBRV', 'IGPLE', 'MKONI', 'JVGOA', 'TIBHG',
       'YJHJY', 'QQSKK', 'QAFIG', 'QJWOK', 'KSKRB', 'LGENM', 'OTWMI',
       'MVWVE', 'ZQCSZ', 'KRIFS', 'AVNCD', 'QWHZC', 'WKCHL', 'UWDNQ',
       'JWHAB', 'ROYYX', 'BTSRS', 'XQJNF', 'PADIU', 'SIQBE', 'ZHKOH',
       'MGBEN', 'BKIKC', 'XMVZI', 'MSLHT', 'XXQJZ', 'QBCTB', 'AKNLM',
       'PRKJZ', 'GULJB', 'WSXLR', 'DKFBY', 'FDFJO', 'DZZDK', 'RWMXI',
       'MMRFP', 'FIZXV', 'ADGUV', 'PSUBC', 'WBFBA', 'VIEDR', 'ZNXNO',
       'RUTZT', 'XFNPV', 'MUKPW', 'URAEN', 'GBWYH', 'KVBQD', 'HVBAK',
       'MWSRD', 'ZKPKB', 'MDAQQ', 'COJJU', 'MWPMQ', 'IDRQU', 'DXUXW',
       'RVNUE', 'ULTLU', 'BBYMX', 'YROFC', 'VXUSK', 'HCLOX', 'YKCUT',
       'ALRAX', 'ZSCBJ', 'AJAZV', 'BXFFR', 'YDAJA', 'PWECI', 'YDZJM',
       'HYYQE', 'ZCPEX', 'YUIGT', 'HKBDA', 'CBKOT', 'DKQCL', 'JYBKK',
       'SIFHM', 'YUHOR', 'ULKTL', 'GLYDM', 'QMFAS', 'QAHTQ', 'OESMR',
       'TGTHZ', 'DWBGN', 'PKCGH', 'TXPAU', 'HINGX', 'EKHNO', 'QNKQK',
       'UUHJQ', 'ESJPD', 'RJMKM', 'SIQBH', 'TBQAM', 'XANBW', 'RTRAB',
       'QZWSS', 'FTHCL', 'IEKXL', 'LSNDX', 'LUKUK', 'FFYPB', 'KGCEB',
       'QEPPS', 'NHWJL', 'QNYYY', 'YPMSF', 'GBEAR', 'DURZK', 'XLICW',
       'UILIA', 'BJFNE', 'FRTIW', 'GISBY', 'BLSBV', 'ZLDCC', 'TKXLC',
       'LTVBE', 'MDWYI', 'LOHOF', 'HLPNG', 'GDUCT', 'GHTRT', 'NWDQD',
       'TJRSR', 'FVGNR', 'GQHEV', 'OIPAD', 'KZNBT', 'UUOSF', 'TVTJP',
       'QXCVN', 'JLAFQ', 'RMYMI', 'WGPSV', 'UJBAS', 'ZILSR', 'GRHJO',
       'TDAQA', 'BFRBB', 'ZKXFL', 'JEIZT', 'JKGNT', 'RMBXK', 'KADWN',
       'TDIVV', 'GAUEU', 'RECYP', 'QLDPG', 'UTAYA', 'CHDGJ', 'TKHMK',
       'IXOZU', 'OGRLS', 'KMATA', 'RPUHR', 'FNIZZ', 'FOIZY', 'PSRJX',
       'XITAV', 'OYJQI', 'UPZAD', 'BDYYM', 'YVUTE', 'OLYEE', 'RECNU',
       'PTGHL', 'ZSYNO', 'ZEUUV', 'TERYO', 'JYOKP', 'UFANY', 'RQQMT',
       'GXHYY', 'CLTLN', 'USYEY', 'YQYGW', 'UPCAA', 'GTKUQ', 'KWAMV',
       'DSIAM', 'NBOJA', 'ECOBY', 'VYIXZ', 'THRPK', 'HBDDM', 'QTBVB',
       'OTQYI', 'PCOVF', 'GSGGY', 'ZEXOB', 'PQATV', 'BQLGL', 'EIRMO',
       'OVIVC', 'LJLVN', 'ZWDIA', 'TAXFK', 'BIKBT', 'SJVCB', 'JXTRO',
       'UKAUE', 'KJDJE', 'QQALO', 'WMCBW', 'UWGQC', 'VIYMA', 'XQHAJ',
       'EODEX', 'QGWQY', 'MXRBG', 'HEGFW', 'MWDOA', 'YAKUZ', 'AVNAU',
       'CPURJ', 'ALXIG', 'DNNBK', 'RZLLM', 'FKQKP', 'VZXJA', 'PMGBI',
       'UZCWB', 'SAKWK', 'YSPEI', 'KPZHN', 'YIQTQ', 'TFYEP', 'HQHLR',
       'GSJDP', 'ELKBS', 'RUOOE', 'FFNVJ', 'WTSID', 'ZWKWX', 'INISX',
       'ZTHWZ', 'JYNZZ', 'VREAP', 'SYNSQ', 'FQZCR', 'PJUAX', 'VMCLP',
       'GMUXO', 'VCWXE', 'VWWNP', 'FSKAD', 'KXOXY', 'CPINL', 'MCVMQ',
       'MEOEW', 'VDBBK', 'YOGFC', 'DVDWV', 'DOAWO', 'TMRYO', 'WICAF',
       'VIFMY', 'NICOF', 'JJTGY', 'TMWJJ', 'DUKNM', 'RJXLJ', 'KTZWM',
       'HLIGE', 'YMCJK', 'NZZOQ', 'RNMIR', 'CIXFZ', 'ZOBCF', 'ICUJG',
       'BJADP', 'YFTFA', 'XVBEG', 'YJULJ', 'TQHPS', 'VRQPC', 'YSHSQ',
       'RJORF', 'NDCXD', 'XMLIK', 'JOIVG', 'GMYAS', 'AKTLL', 'GMFHQ',
       'PYZNC', 'HNRYE', 'AWUTM', 'RKEKU', 'UYXRN', 'SEYSP', 'LQQXO',
       'FLGXV', 'OFBDL', 'RFRWT', 'LQZXI', 'REOJL', 'LRVMD', 'TTYKM',
       'OXSAF', 'WPWKF', 'AZDQM', 'JNCZM', 'AKTIT', 'TGZAW', 'NDGPH',
       'VFJNI', 'VGCEQ', 'OBZMI', 'SALRZ', 'TXDLA', 'HJIJU', 'EVOIO',
       'EMAWI', 'IZPKU', 'BONWP', 'MNUJO', 'SZSZK', 'PTJGZ', 'JZWFV',
       'ZHRUC', 'VISYA', 'PHCSZ', 'NJLKN', 'KCZZE', 'GLSAV', 'QHWRI',
       'OZBSW', 'SDPUK', 'PGIVM', 'LDJNG', 'VJGIV', 'XYATN', 'DGHKM',
       'YBSWJ', 'GFHDO', 'GAGVK', 'WYGOW', 'PEGZH', 'WUTSU', 'WBENF',
       'NMDCA', 'VCZZT', 'LHKIK', 'SXEGF', 'BWNBL', 'LUTDQ', 'NADRJ',
       'ZNRDM', 'TVFKM', 'LMHVX', 'JQJPS', 'NRTVE', 'FNNVN', 'XUNVM',
       'ILLQB', 'SZLBF', 'CGUAW', 'YEEZJ', 'VAZAP', 'YVIVK', 'MJJPU',
       'STANJ', 'FXFEE', 'RPNPY', 'WXBXA', 'QYNKI', 'XYQSI', 'DZRHZ',
       'PIXCU', 'ECGSP', 'KEYTR', 'VUCUV', 'TMRCT', 'GUQNN', 'BBAUD',
       'DKZXI', 'VCKPZ', 'BKXAP', 'KOSKX', 'YZBVW', 'DYDFY', 'VOHGK',
       'AQBUB', 'AHUVN', 'YCITI', 'DPBJG', 'IMNCI', 'JKMLB', 'FQVND',
       'BEJOR', 'NOJRS', 'KVTXM', 'IUAJZ', 'INGCC', 'LQONC', 'BJYEH',
       'MXYAQ', 'GRTXR', 'WUEBT', 'NZEKH', 'WMXSZ', 'PZELP', 'ZOWQN',
       'KJHFZ', 'NWXYG', 'IQIDT', 'ONSCX', 'MRPPS', 'CMFKN', 'JKTBY',
       'PEOCN', 'RKIRY', 'WKWCB', 'ZTPOI', 'XWMFR', 'SZUCZ', 'WPITP',
       'COAUV', 'SCPKD', 'XYXNW', 'FHXPF', 'DFMHT', 'HCXRZ', 'EWANM',
       'DVHXS', 'WWUTA', 'DFPAD', 'MBIFE', 'IWGQT', 'REJHO', 'ZFOBJ',
       'YXCWS', 'XLKXN', 'TEBLI', 'NIWTJ', 'DSODA', 'QNOKM', 'KCNDR',
       'TEFGP', 'KXONF', 'CYCDF', 'OQLKQ', 'GUQPA', 'ITFQZ', 'LNFAG',
       'MPVHI', 'SRSWC', 'DMPRF', 'DXGAH', 'NQTDN', 'ISJVE', 'ZNLSJ',
       'ALHRN', 'VMEDO', 'GFYDX', 'NYVHM', 'CJYCG', 'BWRPM', 'GPSUE',
       'QRPSN', 'YQQAD', 'PTDQE', 'TVQBH', 'HMUPZ', 'SDZBI', 'QKAHG',
       'UPDWF', 'IWTKN', 'ZSSRZ', 'YHLQG', 'QXHJL', 'KQBUH', 'QLPON',
       'EACKG', 'MMNDM', 'YEAIS', 'WCAIQ', 'XIUDQ', 'GTXLR', 'JWKPZ',
       'OLCYN', 'SRGQC', 'BVPHN', 'ORADC', 'TLFJR', 'LOYKC', 'CSICU',
       'XCQTG', 'VRLEG', 'VESOO', 'ADIQJ', 'GJMPO', 'JLUPZ', 'PHNMW',
       'TWSGH', 'EWXIA', 'MUSRA', 'CSVEV', 'YPOAK', 'MYLAO', 'BZRSS',
       'YKHCA', 'MTTAQ', 'VWUKS', 'SBBIQ', 'JQTUH', 'ZOQQR', 'ERLZS',
       'ZZVPP', 'MJKXQ', 'EALLB', 'FIJQE', 'VMBCY', 'AQERZ', 'XLLHL',
       'YAMXC', 'DVHUH', 'AVILB', 'QVFYQ', 'OFWLB', 'YJHBA', 'BWWMC',
       'DYOUB', 'BUDVY', 'LCSLN', 'XODJW', 'NCNAW', 'GSZXN', 'ISOXG',
       'SDKUJ', 'HJJAD', 'TSQDD', 'MMDZV', 'WERVI', 'ZCUDG', 'EDRGU',
       'UYUZO', 'AIKZK', 'HUXBZ', 'SZQAR', 'FZYWS', 'GYVQE', 'FOPKV',
       'RGAPI', 'XGOFZ', 'QTXLO', 'LQIVJ', 'UAJMX', 'STQXS', 'QXTAW',
       'ETKKE', 'LZVTQ', 'FBYXA', 'XTCEE', 'GXKOL', 'MGIGH', 'PAYNN',
       'KTTSZ', 'KCUSA', 'MVYJM', 'LTSME', 'PAJIB', 'CULDY', 'ILSEU',
       'VMSSZ', 'UJNKN', 'XCXND', 'YFAMO', 'BQOOC', 'JDMJI', 'WQCRZ',
       'JURMK', 'FKGMR', 'XDVTQ', 'EBDIH', 'VIEZS', 'UMCPL', 'ICIHJ',
       'SDJTI', 'WWEQQ', 'EOMGS', 'XXCJC', 'MRSBC', 'QVPCC', 'PFTHV',
       'XNSTQ', 'QKXEE', 'SFNXJ', 'TWRCN', 'UZLBJ', 'MYBXL', 'CTDDG',
       'ORWPQ', 'MNRHH', 'QQEFO', 'VIEBN', 'NPORW', 'IUFIM', 'NTATU',
       'AOADW', 'BXRTR', 'TTXJJ', 'QNRJK', 'KBTOX', 'TKUBQ', 'YXIHH',
       'XIKIG', 'WLNKI', 'KXHSF', 'XMHLT', 'WVDZM', 'YEYFW', 'HVEWR',
       'DYLEV', 'BATCT', 'CYDOQ', 'JCMIX', 'FFPLH', 'DVCXY', 'DYGUI',
       'LSOTK', 'BIXUY', 'PIMMG', 'WBIZO', 'YAVQW', 'TZITV', 'SUVHH',
       'KAXVD', 'VIPML', 'PXKAW', 'YUEKT', 'WWYQD', 'KYDYJ', 'PVCCM',
       'XZREU', 'JGPLN', 'ZAWLV', 'WTMNP', 'KSWIY', 'OHESH', 'VYJJH',
       'GZVWA', 'YVVYK', 'BONFT', 'ZSUUV', 'EPPWL', 'GNMAB', 'EMRNO',
       'ZCJOU', 'WQRXU', 'PAKBZ', 'VICOJ', 'SVPVA', 'GLMVE', 'ONQAB',
       'CKPTQ', 'CWKVE', 'JRQNY', 'VPRKN', 'QVFLE', 'FADTI', 'HDOKB',
       'JUTZW', 'MUUKK', 'OLQVX', 'QNFKF', 'SODEA', 'CQQNU', 'OGTJB',
       'FLPUW', 'UTPFR', 'SGJHZ', 'SJFIG', 'VEJNG', 'EYXAN', 'BLCUF',
       'HCZNK', 'OEUHW', 'THMHY', 'WORCU', 'JGIXC', 'ZMQNB', 'TKMVI',
       'DBRBP', 'BCKHC', 'YYZZX', 'OKTNF', 'UEQYN', 'DJNLD', 'PWZER',
       'ADNPG', 'TXZCR', 'NSYHW', 'CBYGS', 'FPIST', 'XULDR', 'LSZIL',
       'IIGJJ', 'JYJAZ', 'PIUAW', 'DADVB', 'XHFRG', 'OTRIQ', 'QALQJ',
       'EXAWE', 'ZXCTR', 'WMIUT', 'NZUMY', 'NVBDF', 'GDBOP', 'SPLLA',
       'QQQZS', 'FPORP', 'TLOYG', 'RTVOZ', 'ZNLCP', 'IRSWT', 'VVZIP',
       'OORYA', 'IMNXM', 'GWNUG', 'YKLMI', 'TOPPH', 'ICKGJ', 'QRTFE',
       'ZMMCR', 'EBGZI', 'BREHM', 'OHYTQ', 'BVVVV', 'EXHGA', 'EJGWB',
       'LJWVI', 'RLGSM', 'STOGD', 'ALRVH', 'BMIIB', 'NLSRJ', 'BZFTO',
       'ATZDS', 'OOLLE', 'JRWTQ', 'FAWTY', 'DZIOA', 'UYYED', 'OKAHU',
       'TGXJU', 'IZRJB', 'EYOUF', 'NPYNY', 'IPQCE', 'GGEKC', 'DWELC',
       'UGRVK', 'FELPR', 'PGADL', 'ZOZVZ', 'HRLWP', 'KYVML', 'KKIEV',
       'DQEWF', 'DAXUI', 'WNFOA', 'SHJWQ', 'YFAWP', 'DGYPO', 'UXKVW',
       'YMXVM', 'SDTKV', 'IUHMK', 'ZGVVY', 'SMYAX', 'TFHWC', 'HDFDJ',
       'WPECZ', 'GHEHY', 'JKIPN', 'GCOOB', 'ILMIR', 'UDKRP', 'WWOXU',
       'DAKJA', 'VNZVV', 'KYSCO', 'FQKBX', 'XQFKS', 'DFCYT', 'DGRZF',
       'WLWAN', 'KUYCT', 'JWWZN', 'MFBXC', 'LCAIC', 'HZGUU', 'BKDID',
       'DSBMO', 'LGQCE', 'HLFQG', 'MURPV', 'KLKDP', 'MUPIW', 'HHWZF',
       'FPAVL', 'TAUOA', 'BKQLQ', 'XJKUB', 'IBQRR', 'QTAQQ', 'VTAPK',
       'HCDEG', 'MPGFN', 'MBFKY', 'LGWZE', 'WMGVO', 'OSKST', 'VBHPR',
       'PUIQN', 'VHNGY', 'ZHWLH', 'JTZVV', 'HFGYE', 'FUWGN', 'JWPMR',
       'ZQVVG', 'KFPUK', 'ILSBY', 'ROACD', 'QOEWI', 'DHTMQ', 'HQGAS',
       'LHNJU', 'ZQBRA', 'KCWAR', 'MNGJL', 'LMVQW', 'NNQST', 'OKHTB',
       'YZXXY', 'PVELA', 'JLESE', 'ETXYW', 'FPNBF', 'OWTVL', 'YPHIJ',
       'DQNVC', 'DIFGJ', 'JNTNX', 'BRRYO', 'SLBCL', 'QJEWY', 'IHDZO',
       'OIUER', 'RYVLS', 'NDOSY', 'OGNSH', 'DFHFH', 'BLRAE', 'CKWGK',
       'JECFB', 'KTHZN', 'TOOUU', 'FEEGC', 'GKQAP', 'SXROH', 'JPUJR',
       'JQBCR', 'WITUB', 'RLFFV', 'RKMEZ', 'NBKWI', 'TCTPL', 'FMUBG',
       'HHRYP', 'RMMSR', 'JMBIT', 'ZMLDR', 'XBQFD', 'RHCSW', 'PTRNL',
       'OHAQX', 'JLSAG', 'UQBJP', 'DYEPB', 'GDTZX', 'FQXRB', 'LIQBR',
       'BBFWT', 'GAGYO', 'CSQWZ', 'WRWQF', 'NHGEB', 'HWNNC', 'YDZEB',
       'YAHRO', 'TITBA', 'GVCTY', 'ZCGBT', 'LGXPZ', 'RCDDJ', 'UXBKY',
       'UHXDI', 'FLNBE', 'QVCYN', 'UBJMO', 'ZNXZX', 'JWISS', 'PXUVL',
       'XSIKG', 'WJJKO', 'HVRUB', 'JFFIW', 'JBWUO', 'BDJKH', 'TZLEL',
       'DMKZJ', 'DYSSI', 'FSHPC', 'LQOQF', 'LBBFQ', 'UPJAS', 'WAQIK',
       'TLOSR', 'MNQAA', 'MSYNR', 'XCDMO', 'HKWNO', 'YPMEE', 'NBNWK',
       'VTVIP', 'QCERS', 'BMMLT', 'ZAYTJ', 'GPNYZ', 'UWRUN', 'SLXXZ',
       'GFQJK', 'URWVM', 'CKUJV', 'KVTRA', 'YJCAW', 'KPZYQ', 'TQKDF',
       'HFYFG', 'SZQHV', 'EQMTM', 'QAVSF', 'YZQVZ', 'HEIZH', 'LWELG',
       'KYLBX', 'WIBMQ', 'LBCTN', 'QHLIR', 'LCRZK', 'AOQJX', 'YMNLR',
       'BHUFN', 'FCKOG', 'ILSDP', 'PZPKM', 'PNRHG', 'ZYTZZ'],
      dtype='|S5')

In [8]:
M = 500
df = DataFrame({'Momentum' : np.random.randn(M) / 200 + 0.03,
                'Value' : np.random.randn(M) / 200 + 0.08,
                'ShortInterest' : np.random.randn(M) / 200 - 0.02},
                index=tickers[:M])

In [248]:
df

       Momentum  ShortInterest     Value
VTKGN  0.034010      -0.011407  0.074087
KUHMP  0.024700      -0.016589  0.078846
XNHTQ  0.032851      -0.017711  0.082505
GXZVX  0.027988      -0.025195  0.072871
ISXRM  0.025997      -0.017397  0.077294
CLPXZ  0.033172      -0.012954  0.074921
MWGUO  0.030215      -0.024077  0.079564
ASKVR  0.030232      -0.014992  0.082920
AMWGI  0.034573      -0.018342  0.080475
WEOGZ  0.035670      -0.024522  0.078559
ULCIN  0.033648      -0.014701  0.081374
YCOSO  0.036243      -0.019150  0.084340
VOZPP  0.037246      -0.021776  0.084103
LPKOH  0.034436      -0.024721  0.073048
EEPRM  0.032731      -0.033478  0.082343
CTWYV  0.025870      -0.012989  0.071983
XYOKS  0.026078      -0.018832  0.080708
HVWXP  0.024671      -0.022813  0.079878
YPLRZ  0.030270      -0.021147  0.086235
XUCPM  0.032831      -0.022872  0.083780
QVGTD  0.031595      -0.019656  0.077119
FUIVC  0.030595      -0.023827  0.087086
DSBOX  0.026607      -0.013653  0.082650
NRAQP  0.035451      -0.018624  0.084113
OKJZA  0.027555      -0.018794  0.078139
AYEDF  0.028865      -0.028844  0.080406
UYALC  0.034569      -0.023982  0.081226
GFQJE  0.030339      -0.024842  0.083351
NBCZF  0.025749      -0.021649  0.080579
JTVXE  0.034855      -0.010024  0.084356
RZBRV  0.036377      -0.021577  0.077497
IGPLE  0.032762      -0.020833  0.084741
MKONI  0.022741      -0.022915  0.079603
JVGOA  0.010935      -0.025547  0.072457
TIBHG  0.027691      -0.012842  0.087351
YJHJY  0.027838      -0.020020  0.082495
QQSKK  0.023477      -0.019004  0.076123
QAFIG  0.024500      -0.016132  0.079653
QJWOK  0.027946      -0.020451  0.083886
KSKRB  0.021682      -0.027827  0.071050
LGENM  0.038117      -0.007614  0.070534
OTWMI  0.037641      -0.019346  0.083630
MVWVE  0.034914      -0.008615  0.080126
ZQCSZ  0.027521      -0.020938  0.081457
KRIFS  0.031666      -0.010618  0.081650
AVNCD  0.027321      -0.012026  0.083593
QWHZC  0.029501      -0.023363  0.086300
WKCHL  0.021384      -0.017759  0.072696
UWDNQ  0.030460      -0.022602  0.085535
JWHAB  0.036847      -0.014176  0.088440
...         ...            ...       ...
WKWCB  0.032183      -0.016209  0.076237
ZTPOI  0.023834      -0.017919  0.070814
XWMFR  0.031945      -0.018844  0.079033
SZUCZ  0.030720      -0.011747  0.072146
WPITP  0.022814      -0.013526  0.075951
COAUV  0.025312      -0.017491  0.078733
SCPKD  0.023831      -0.014785  0.080235
XYXNW  0.029626      -0.020958  0.074788
FHXPF  0.036705      -0.015656  0.079175
DFMHT  0.028779      -0.024863  0.077619
HCXRZ  0.023753      -0.013568  0.080846
EWANM  0.023987      -0.022726  0.084781
DVHXS  0.032750      -0.017923  0.081680
WWUTA  0.034757      -0.016417  0.080981
DFPAD  0.022236      -0.024156  0.081668
MBIFE  0.032716      -0.018506  0.071353
IWGQT  0.037196      -0.026116  0.088005
REJHO  0.023008      -0.011356  0.080213
ZFOBJ  0.027816      -0.015768  0.082431
YXCWS  0.034410      -0.014414  0.087630
XLKXN  0.035624      -0.024165  0.075743
TEBLI  0.036772      -0.020908  0.080223
NIWTJ  0.029311      -0.017038  0.077180
DSODA  0.028178      -0.019797  0.075559
QNOKM  0.037934      -0.013066  0.074814
KCNDR  0.037135      -0.025161  0.074136
TEFGP  0.032640      -0.021094  0.080672
KXONF  0.029116      -0.014342  0.077210
CYCDF  0.027543      -0.019330  0.073060
OQLKQ  0.041004      -0.015767  0.080479
GUQPA  0.036419      -0.015884  0.080780
ITFQZ  0.024154      -0.017883  0.083352
LNFAG  0.030618      -0.021809  0.082568
MPVHI  0.034956      -0.017982  0.080015
SRSWC  0.020308      -0.015469  0.076632
DMPRF  0.029828      -0.019042  0.072804
DXGAH  0.037495      -0.019712  0.074525
NQTDN  0.032165      -0.014296  0.073565
ISJVE  0.032028      -0.028443  0.077947
ZNLSJ  0.034984      -0.017127  0.082474
ALHRN  0.039771      -0.019463  0.084239
VMEDO  0.030919      -0.026924  0.072962
GFYDX  0.021147      -0.019829  0.087858
NYVHM  0.029535      -0.025981  0.080324
CJYCG  0.031231      -0.027357  0.082812
BWRPM  0.030539      -0.020524  0.081015
GPSUE  0.032123      -0.018787  0.082901
QRPSN  0.035915      -0.013704  0.084057
YQQAD  0.030684      -0.008216  0.082019
PTDQE  0.035942      -0.029767  0.082341

[500 rows x 3 columns]

In [254]:
ind_names = np.array(['FINANCIAL', 'TECH'])
sampler = np.random.randint(0, len(ind_names), N)
len(sampler)
sampler

array([1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0])

In [244]:
industries = Series(ind_names[sampler], index=tickers,
                    name='industry')
industries

VTKGN         TECH
KUHMP    FINANCIAL
XNHTQ    FINANCIAL
GXZVX         TECH
ISXRM         TECH
CLPXZ         TECH
MWGUO    FINANCIAL
ASKVR    FINANCIAL
AMWGI    FINANCIAL
WEOGZ         TECH
ULCIN         TECH
YCOSO    FINANCIAL
VOZPP         TECH
LPKOH    FINANCIAL
EEPRM         TECH
CTWYV         TECH
XYOKS    FINANCIAL
HVWXP         TECH
YPLRZ    FINANCIAL
XUCPM         TECH
QVGTD    FINANCIAL
FUIVC         TECH
DSBOX         TECH
NRAQP         TECH
OKJZA    FINANCIAL
AYEDF         TECH
UYALC         TECH
GFQJE         TECH
NBCZF         TECH
JTVXE         TECH
RZBRV         TECH
IGPLE         TECH
MKONI    FINANCIAL
JVGOA         TECH
TIBHG    FINANCIAL
YJHJY         TECH
QQSKK         TECH
QAFIG         TECH
QJWOK         TECH
KSKRB         TECH
LGENM         TECH
OTWMI         TECH
MVWVE    FINANCIAL
ZQCSZ    FINANCIAL
KRIFS         TECH
AVNCD         TECH
QWHZC         TECH
WKCHL         TECH
UWDNQ         TECH
JWHAB         TECH
           ...
BDJKH         TECH
TZLEL    FINANCIAL
DMKZJ         TECH
DYSSI    FINANCIAL
FSHPC         TECH
LQOQF         TECH
LBBFQ    FINANCIAL
UPJAS         TECH
WAQIK         TECH
TLOSR         TECH
MNQAA    FINANCIAL
MSYNR    FINANCIAL
XCDMO    FINANCIAL
HKWNO         TECH
YPMEE    FINANCIAL
NBNWK    FINANCIAL
VTVIP         TECH
QCERS    FINANCIAL
BMMLT         TECH
ZAYTJ    FINANCIAL
GPNYZ         TECH
UWRUN         TECH
SLXXZ    FINANCIAL
GFQJK         TECH
URWVM         TECH
CKUJV    FINANCIAL
KVTRA         TECH
YJCAW    FINANCIAL
KPZYQ         TECH
TQKDF    FINANCIAL
HFYFG    FINANCIAL
SZQHV    FINANCIAL
EQMTM    FINANCIAL
QAVSF    FINANCIAL
YZQVZ         TECH
HEIZH         TECH
LWELG    FINANCIAL
KYLBX         TECH
WIBMQ         TECH
LBCTN    FINANCIAL
QHLIR         TECH
LCRZK         TECH
AOQJX         TECH
YMNLR    FINANCIAL
BHUFN         TECH
FCKOG         TECH
ILSDP    FINANCIAL
PZPKM    FINANCIAL
PNRHG         TECH
ZYTZZ    FINANCIAL
Name: industry, dtype: object

In [247]:
by_industry = df.groupby(industries)
by_industry

In [246]:
by_industry.describe()

                   Momentum  ShortInterest       Value
industry
FINANCIAL count  227.000000     227.000000  227.000000
          mean     0.029867      -0.019907    0.079975
          std      0.004797       0.004955    0.004863
          min      0.015661      -0.032473    0.067623
          25%      0.026581      -0.023469    0.076782
          50%      0.030137      -0.020076    0.080155
          75%      0.033236      -0.016503    0.083087
          max      0.042696      -0.006012    0.091839
TECH      count  273.000000     273.000000  273.000000
          mean     0.030735      -0.020311    0.079369
          std      0.005356       0.004924    0.005105
          min      0.010935      -0.035260    0.066055
          25%      0.026885      -0.023371    0.076123
          50%      0.030712      -0.020422    0.079737
          75%      0.034569      -0.016660    0.082794
          max      0.047569      -0.007614    0.096817

In [264]:
by_industry.mean()

           Momentum  ShortInterest     Value
industry
FINANCIAL  0.029867      -0.019907  0.079975
TECH       0.030735      -0.020311  0.079369

In [265]:
by_industry.describe()

                   Momentum  ShortInterest       Value
industry
FINANCIAL count  227.000000     227.000000  227.000000
          mean     0.029867      -0.019907    0.079975
          std      0.004797       0.004955    0.004863
          min      0.015661      -0.032473    0.067623
          25%      0.026581      -0.023469    0.076782
          50%      0.030137      -0.020076    0.080155
          75%      0.033236      -0.016503    0.083087
          max      0.042696      -0.006012    0.091839
TECH      count  273.000000     273.000000  273.000000
          mean     0.030735      -0.020311    0.079369
          std      0.005356       0.004924    0.005105
          min      0.010935      -0.035260    0.066055
          25%      0.026885      -0.023371    0.076123
          50%      0.030712      -0.020422    0.079737
          75%      0.034569      -0.016660    0.082794
          max      0.047569      -0.007614    0.096817

In [255]:
# Within-Industry Standardize
def zscore(group):
    return (group - group.mean()) / group.std()

df_stand = by_industry.apply(zscore)

In [238]:
df_stand.groupby(industries).agg(['mean', 'std'])

               Momentum      ShortInterest              Value
                   mean  std          mean  std          mean  std
industry
FINANCIAL  2.381844e-15  1.0  1.431063e-15  1.0  9.406328e-15  1.0
TECH       1.009755e-15  1.0  3.396550e-15  1.0  1.234137e-14  1.0

In [267]:
# Within-industry rank descending
ind_rank = by_industry.rank(ascending=False)
ind_rank

       Momentum  ShortInterest  Value
VTKGN      73.0           11.0  229.0
KUHMP     192.0           58.0  138.0
XNHTQ      63.0           81.0   72.0
GXZVX     187.0          233.0  241.0
ISXRM     226.0           79.0  176.0
CLPXZ      86.0           16.0  219.0
MWGUO     113.0          179.0  126.0
ASKVR     112.0           37.0   59.0
AMWGI      42.0           88.0  103.0
WEOGZ      52.0          222.0  155.0
ULCIN      78.0           33.0  100.0
YCOSO      18.0          104.0   39.0
VOZPP      33.0          172.0   44.0
LPKOH      45.0          188.0  207.0
EEPRM      98.0          271.0   83.0
CTWYV     230.0           17.0  252.0
XYOKS     174.0           95.0   98.0
HVWXP     245.0          193.0  134.0
YPLRZ     110.0          129.0   25.0
XUCPM      94.0          195.0   51.0
QVGTD      91.0          108.0  166.0
FUIVC     141.0          213.0   16.0
DSBOX     215.0           24.0   74.0
NRAQP      55.0          102.0   42.0
OKJZA     151.0           94.0  151.0
AYEDF     175.0          260.0  128.0
UYALC      69.0          216.0  103.0
GFQJE     148.0          228.0   60.0
NBCZF     233.0          169.0  123.0
JTVXE      64.0            7.0   38.0
RZBRV      44.0          166.0  171.0
IGPLE      96.0          146.0   32.0
MKONI     212.0          160.0  125.0
JVGOA     273.0          236.0  248.0
TIBHG     148.0           17.0   17.0
YJHJY     192.0          128.0   76.0
QQSKK     251.0          108.0  205.0
QAFIG     247.0           55.0  141.0
QJWOK     188.0          138.0   48.0
KSKRB     258.0          256.0  259.0
LGENM      22.0            1.0  262.0
OTWMI      28.0          114.0   53.0
MVWVE      35.0            5.0  115.0
ZQCSZ     152.0          125.0   86.0
KRIFS     119.0            9.0   96.0
AVNCD     202.0           14.0   54.0
QWHZC     163.0          204.0   23.0
WKCHL     260.0           85.0  244.0
UWDNQ     144.0          185.0   28.0
JWHAB      39.0           25.0   11.0
...         ...            ...    ...
WKWCB     111.0           58.0  201.0
ZTPOI     202.0           83.0  222.0
XWMFR      85.0           97.0  136.0
SZUCZ     101.0           12.0  214.0
WPITP     211.0           21.0  180.0
COAUV     184.0           78.0  141.0
SCPKD     203.0           35.0  109.0
XYXNW     123.0          127.0  191.0
FHXPF      15.0           45.0  133.0
DFMHT     136.0          190.0  156.0
HCXRZ     204.0           23.0   96.0
EWANM     200.0          158.0   35.0
DVHXS      97.0           90.0   94.0
WWUTA      38.0           57.0   95.0
DFPAD     256.0          219.0   95.0
MBIFE      99.0           99.0  256.0
IWGQT      10.0          202.0   13.0
REJHO     210.0           11.0  112.0
ZFOBJ     193.0           46.0   79.0
YXCWS      46.0           32.0   16.0
XLKXN      26.0          180.0  182.0
TEBLI      14.0          124.0  111.0
NIWTJ     129.0           69.0  164.0
DSODA     184.0          120.0  209.0
QNOKM      25.0           19.0  221.0
KCNDR      12.0          193.0  197.0
TEFGP     102.0          153.0  118.0
KXONF     173.0           30.0  177.0
CYCDF     198.0          113.0  238.0
OQLKQ       4.0           45.0  125.0
GUQPA      43.0           49.0  115.0
ITFQZ     248.0           88.0   59.0
LNFAG     104.0          144.0   70.0
MPVHI      61.0           91.0  132.0
SRSWC     223.0           44.0  172.0
DMPRF     119.0          102.0  208.0
DXGAH      30.0          118.0  224.0
NQTDN      81.0           30.0  203.0
ISJVE     113.0          258.0  166.0
ZNLSJ      33.0           70.0   73.0
ALHRN       9.0          115.0   41.0
VMEDO     132.0          248.0  240.0
GFYDX     219.0          112.0   15.0
NYVHM     124.0          200.0  105.0
CJYCG      93.0          212.0   64.0
BWRPM     142.0          139.0  109.0
GPSUE      82.0           93.0   62.0
QRPSN      23.0           25.0   41.0
YQQAD     139.0            2.0   89.0
PTDQE      22.0          225.0   76.0

[500 rows x 3 columns]

In [268]:
ind_rank.groupby(industries).agg(['min', 'max'])

          Momentum        ShortInterest        Value
               min    max           min    max   min    max
industry
FINANCIAL      1.0  227.0           1.0  227.0   1.0  227.0
TECH           1.0  273.0           1.0  273.0   1.0  273.0

In [272]:
by_industry.apply(lambda x: x.rank(ascending=True))

       Momentum  ShortInterest  Value
VTKGN     201.0          263.0   45.0
KUHMP      36.0          170.0   90.0
XNHTQ     165.0          147.0  156.0
GXZVX      87.0           41.0   33.0
ISXRM      48.0          195.0   98.0
CLPXZ     188.0          258.0   55.0
MWGUO     115.0           49.0  102.0
ASKVR     116.0          191.0  169.0
AMWGI     186.0          140.0  125.0
WEOGZ     222.0           52.0  119.0
ULCIN     196.0          241.0  174.0
YCOSO     210.0          124.0  189.0
VOZPP     241.0          102.0  230.0
LPKOH     183.0           40.0   21.0
EEPRM     176.0            3.0  191.0
CTWYV      44.0          257.0   22.0
XYOKS      54.0          133.0  130.0
HVWXP      29.0           81.0  140.0
YPLRZ     118.0           99.0  203.0
XUCPM     180.0           79.0  223.0
QVGTD     137.0          120.0   62.0
FUIVC     133.0           61.0  258.0
DSBOX      59.0          250.0  200.0
NRAQP     219.0          172.0  232.0
OKJZA      77.0          134.0   77.0
AYEDF      99.0           14.0  146.0
UYALC     205.0           58.0  171.0
GFQJE     126.0           46.0  214.0
NBCZF      41.0          105.0  151.0
JTVXE     210.0          267.0  236.0
RZBRV     230.0          108.0  103.0
IGPLE     178.0          128.0  242.0
MKONI      16.0           68.0  103.0
JVGOA       1.0           38.0   26.0
TIBHG      80.0          211.0  211.0
YJHJY      82.0          146.0  198.0
QQSKK      23.0          166.0   69.0
QAFIG      27.0          219.0  133.0
QJWOK      86.0          136.0  226.0
KSKRB      16.0           18.0   15.0
LGENM     252.0          273.0   12.0
OTWMI     246.0          160.0  221.0
MVWVE     193.0          223.0  113.0
ZQCSZ      76.0          103.0  142.0
KRIFS     155.0          265.0  178.0
AVNCD      72.0          260.0  220.0
QWHZC     111.0           70.0  251.0
WKCHL      14.0          189.0   30.0
UWDNQ     130.0           89.0  246.0
JWHAB     235.0          249.0  263.0
...         ...            ...    ...
WKWCB     163.0          216.0   73.0
ZTPOI      26.0          145.0    6.0
XWMFR     143.0          131.0   92.0
SZUCZ     127.0          216.0   14.0
WPITP      17.0          207.0   48.0
COAUV      44.0          150.0   87.0
SCPKD      25.0          193.0  119.0
XYXNW     105.0          101.0   37.0
FHXPF     213.0          183.0   95.0
DFMHT      92.0           38.0   72.0
HCXRZ      24.0          205.0  132.0
EWANM      28.0           70.0  193.0
DVHXS     177.0          184.0  180.0
WWUTA     190.0          171.0  133.0
DFPAD      18.0           55.0  179.0
MBIFE     175.0          175.0   18.0
IWGQT     218.0           26.0  215.0
REJHO      18.0          217.0  116.0
ZFOBJ      81.0          228.0  195.0
YXCWS     182.0          196.0  212.0
XLKXN     202.0           48.0   46.0
TEBLI     214.0          104.0  117.0
NIWTJ      99.0          159.0   64.0
DSODA      90.0          154.0   65.0
QNOKM     249.0          255.0   53.0
KCNDR     216.0           35.0   31.0
TEFGP     172.0          121.0  156.0
KXONF     101.0          244.0   97.0
CYCDF      76.0          161.0   36.0
OQLKQ     270.0          229.0  149.0
GUQPA     231.0          225.0  159.0
ITFQZ      26.0          186.0  215.0
LNFAG     124.0           84.0  158.0
MPVHI     213.0          183.0  142.0
SRSWC       5.0          184.0   56.0
DMPRF     109.0          126.0   20.0
DXGAH     244.0          156.0   50.0
NQTDN     147.0          198.0   25.0
ISJVE     161.0           16.0  108.0
ZNLSJ     195.0          158.0  155.0
ALHRN     265.0          159.0  233.0
VMEDO     142.0           26.0   34.0
GFYDX       9.0          116.0  213.0
NYVHM     104.0           28.0  123.0
CJYCG     135.0           16.0  164.0
BWRPM     132.0          135.0  165.0
GPSUE     146.0          135.0  166.0
QRPSN     205.0          203.0  187.0
YQQAD     135.0          272.0  185.0
PTDQE     206.0            3.0  152.0

[500 rows x 3 columns]

In [242]:
# Industry rank and standardize
by_industry.apply(lambda x: zscore(x.rank()))

       Momentum  ShortInterest     Value
VTKGN  0.810614       1.595896 -1.165257
KUHMP -1.187695       0.852704 -0.365445
XNHTQ  0.776570       0.502486  0.639528
GXZVX -0.633292      -1.215921 -1.317247
ISXRM -1.127260       0.734619 -0.493968
CLPXZ  0.645958       1.532567 -1.038599
MWGUO  0.015227      -0.989746 -0.182722
ASKVR  0.030454       1.172468  0.837477
AMWGI  1.096334       0.395898  0.167495
WEOGZ  1.076596      -1.076596 -0.227985
ULCIN  0.747285       1.317247  0.468636
YCOSO  1.461778       0.152269  1.142014
VOZPP  1.317247      -0.443304  1.177923
LPKOH  1.050653      -1.126787 -1.416098
EEPRM  0.493968      -1.697223  0.683955
CTWYV -1.177923       1.519901 -1.456572
XYOKS -0.913611       0.289310  0.243630
HVWXP -1.367911      -0.709287  0.037998
YPLRZ  0.060907      -0.228403  1.355190
XUCPM  0.544631      -0.734619  1.089262
QVGTD  0.350218       0.091361 -0.791797
FUIVC -0.050663      -0.962604  1.532567
DSBOX -0.987936       1.431240  0.797948
NRAQP  1.038599       0.443304  1.203255
OKJZA -0.563394       0.304537 -0.563394
AYEDF -0.481302      -1.557898  0.113993
UYALC  0.861277      -1.000601  0.430639
GFQJE -0.139324      -1.152591  0.975270
NBCZF -1.215921      -0.405307  0.177322
JTVXE  0.924606       1.646559  1.253918
RZBRV  1.177923      -0.367309 -0.430639
IGPLE  0.519299      -0.113993  1.329913
MKONI -1.492232      -0.700435 -0.167495
JVGOA -1.722554      -1.253918 -1.405908
TIBHG -0.517713       1.477005  1.477005
YJHJY -0.696621       0.113993  0.772616
QQSKK -1.443906       0.367309 -0.861277
QAFIG -1.393242       1.038599 -0.050663
QJWOK -0.645958      -0.012666  1.127260
KSKRB -1.532567      -1.507235 -1.545233
LGENM  1.456572       1.722554 -1.583230
OTWMI  1.380577       0.291314  1.063931
MVWVE  1.202922       1.659727 -0.015227
ZQCSZ -0.578621      -0.167495  0.426352
KRIFS  0.227985       1.621228  0.519299
AVNCD -0.823280       1.557898  1.051265
QWHZC -0.329312      -0.848611  1.443906
WKCHL -1.557898       0.658624 -1.355245
UWDNQ -0.088661      -0.607960  1.380577
JWHAB  1.241252       1.418574  1.595896
...         ...            ...       ...
WKWCB  0.329312       1.000601 -0.810614
ZTPOI -1.339963       0.472033 -1.644501
XWMFR  0.441579       0.258857 -0.334991
SZUCZ  0.197949       1.553139 -1.522686
WPITP -1.477005       1.416098 -1.004973
COAUV -1.065880       0.548167 -0.411125
SCPKD -1.355190       1.202922  0.076134
XYXNW -0.137042      -0.197949 -1.172468
FHXPF  1.507459       1.050653 -0.289310
DFMHT -0.334991      -1.157241 -0.639528
HCXRZ -1.370417       1.385644  0.274083
EWANM -1.309510      -0.669982  1.202922
DVHXS  0.506634       0.595295  0.544631
WWUTA  1.157241       0.867931  0.289310
DFPAD -1.507235      -1.038599  0.531965
MBIFE  0.481302       0.481302 -1.507235
IWGQT  1.583593      -1.339963  1.537913
REJHO -1.461778       1.568366  0.030454
ZFOBJ -0.709287       1.152591  0.734619
YXCWS  1.035426       1.248602  1.492232
XLKXN  1.339963      -1.004973 -1.035426
TEBLI  1.522686      -0.152269  0.045681
NIWTJ -0.228403       0.685209 -0.761343
DSODA -0.595295       0.215319 -0.911941
QNOKM  1.418574       1.494569 -1.063931
KCNDR  1.553139      -1.202922 -1.263829
TEFGP  0.443304      -0.202653  0.240651
KXONF -0.455970       1.355245 -0.506634
CYCDF -0.772616       0.303980 -1.279250
OQLKQ  1.684557       1.165257  0.151990
GUQPA  1.190589       1.114594  0.278648
ITFQZ -1.405908       0.620626  0.987936
LNFAG  0.152269      -0.456806  0.669982
MPVHI  0.962604       0.582629  0.063329
SRSWC -1.659727       1.065880 -0.883158
DMPRF -0.076134       0.182722 -1.431325
DXGAH  1.355245       0.240651 -1.101928
NQTDN  0.502486       1.279056 -1.355190
ISJVE  0.303980      -1.532567 -0.367309
ZNLSJ  1.233375       0.669982  0.624301
ALHRN  1.621228       0.278648  1.215921
VMEDO  0.063329      -1.405908 -1.304582
GFYDX -1.598820       0.030454  1.507459
NYVHM -0.152269      -1.309510  0.137042
CJYCG  0.319764      -1.492232  0.761343
BWRPM -0.063329      -0.025332  0.354644
GPSUE  0.487259       0.319764  0.791797
QRPSN  1.385644       1.355190  1.111561
YQQAD -0.025332       1.709888  0.607960
PTDQE  1.400871      -1.690181  0.578621

[500 rows x 3 columns]

### Group factor exposures

In [5]:
from numpy.random import rand
fac1, fac2, fac3 = np.random.rand(3, 1000)

In [9]:
len(tickers)

1000

In [13]:
ticker_subset = tickers.take(np.random.permutation(N)[:1000])
ticker_subset

array(['KXONF', 'IDRQU', 'DYLEV', 'LNFAG', 'EXAWE', 'QVFYQ', 'EQMTM',
       'LMVQW', 'DSBMO', 'ZNLSJ', 'HFYFG', 'STANJ', 'PMGBI', 'YJHJY',
       'TVTJP', 'PIUAW', 'ZMLDR', 'JMBIT', 'DYGUI', 'TVFKM', 'NBKWI',
       'YKLMI', 'HVWXP', 'ESJPD', 'IWGQT', 'PXUVL', 'JYOKP', 'BREHM',
       'LMHVX', 'ZCJOU', 'OGRLS', 'RKMEZ', 'WBFBA', 'QVPCC', 'QTBVB',
       'UEQYN', 'NBNWK', 'GMFHQ', 'TKHMK', 'MFBXC', 'ORADC', 'MJJPU',
       'ONSCX', 'SAKWK', 'QOEWI', 'TERYO', 'WMGVO', 'WJJKO', 'NRTVE',
       'LPKOH', 'JURMK', 'DURZK', 'OGNSH', 'SLBCL', 'JFFIW', 'EODEX',
       'AWUTM', 'XODJW', 'IQIDT', 'VCZZT', 'ORWPQ', 'RLGSM', 'MXRBG',
       'HEIZH', 'JQJPS', 'KYLBX', 'ULCIN', 'PHNMW', 'YFTFA', 'KGCEB',
       'WLWAN', 'TSQDD', 'QZWSS', 'WVDZM', 'QALQJ', 'XWMFR', 'FNIZZ',
       'MUUKK', 'PEGZH', 'HYYQE', 'NZEKH', 'IUFIM', 'VWWNP', 'QHLIR',
       'YFAMO', 'PEOCN', 'VISYA', 'SEYSP', 'DGYPO', 'LGWZE', 'UGRVK',
       'BBYMX', 'UDKRP', 'RUOOE', 'GNMAB', 'DAKJA', 'YZQVZ', 'MDAQQ',
       'DVHXS', 'RPUHR', 'GSJDP', 'TGZAW', 'MCVMQ', 'HKWNO', 'HCXRZ',
       'WWUTA', 'ZTPOI', 'OVIVC', 'GXKOL', 'HVRUB', 'SZUCZ', 'MWPMQ',
       'CHDGJ', 'AOQJX', 'BWNBL', 'WKCHL', 'DFCYT', 'JWISS', 'OIPAD',
       'XCXND', 'ICUJG', 'NZUMY', 'VUCUV', 'ECOBY', 'AKNLM', 'NBCZF',
       'HJJAD', 'ALRVH', 'WMIUT', 'YXCWS', 'YEYFW', 'AQERZ', 'KCWAR',
       'GHTRT', 'XGOFZ', 'LUTDQ', 'GMUXO', 'MSYNR', 'EMAWI', 'QAFIG',
       'KRIFS', 'BQLGL', 'HCZNK', 'SDTKV', 'IPQCE', 'YMCJK', 'HLIGE',
       'FUIVC', 'BKXAP', 'VVZIP', 'UJBAS', 'EALLB', 'WWYQD', 'FFNVJ',
       'YDAJA', 'VIPML', 'SIQBE', 'XXCJC', 'RMYMI', 'NTATU', 'COAUV',
       'TLFJR', 'GCOOB', 'LHNJU', 'HUXBZ', 'CULDY', 'HVBAK', 'XYQSI',
       'SDPUK', 'NVBDF', 'YBSWJ', 'VGCEQ', 'GFYDX', 'QKAHG', 'TXDLA',
       'BJFNE', 'NADRJ', 'DYOUB', 'ZFOBJ', 'SZLBF', 'JOIVG', 'JVGOA',
       'LJLVN', 'VTKGN', 'BKQLQ', 'YROFC', 'PVELA', 'ZXCTR', 'BZFTO',
       'WAQIK', 'FQKBX', 'PRKJZ', 'TMRYO', 'JTVXE', 'NWXYG', 'YZXXY',
       'UYXRN', 'KJDJE', 'ZAYTJ', 'PVCCM', 'PUIQN', 'BLSBV', 'UQBJP',
       'MDWYI', 'FVGNR', 'SFNXJ', 'YJHBA', 'DGRZF', 'IGPLE', 'NWDQD',
       'GULJB', 'DVHUH', 'JWKPZ', 'UUHJQ', 'DJNLD', 'XMVZI', 'URWVM',
       'LTVBE', 'MMNDM', 'PQATV', 'TAXFK', 'OORYA', 'PFTHV', 'YFAWP',
       'FQXRB', 'ADGUV', 'QHWRI', 'RECYP', 'HRLWP', 'TQHPS', 'QGWQY',
       'AMWGI', 'GMYAS', 'TWRCN', 'XFNPV', 'GISBY', 'LJWVI', 'BUDVY',
       'OBZMI', 'KVTRA', 'FHXPF', 'DKFBY', 'HZGUU', 'ZQBRA', 'ETXYW',
       'ZCGBT', 'EMRNO', 'JNCZM', 'KCZZE', 'OLYEE', 'KSKRB', 'LCSLN',
       'RTRAB', 'UPCAA', 'VNZVV', 'GYVQE', 'RJORF', 'RKIRY', 'VOHGK',
       'ULKTL', 'YUEKT', 'HVEWR', 'RZBRV', 'QVGTD', 'COJJU', 'STQXS',
       'GDTZX', 'AKTLL', 'LQONC', 'GDBOP', 'RHCSW', 'ZZVPP', 'FPORP',
       'WXBXA', 'OEUHW', 'YOGFC', 'OYJQI', 'DBRBP', 'MMDZV', 'BKDID',
       'YIQTQ', 'UYALC', 'OTWMI', 'VIEDR', 'GSGGY', 'FIJQE', 'OKJZA',
       'JQBCR', 'THMHY', 'DMPRF', 'PGIVM', 'CSICU', 'JTZVV', 'IBQRR',
       'TKMVI', 'AJAZV', 'SJFIG', 'EKHNO', 'DHTMQ', 'ZMMCR', 'HHWZF',
       'CKWGK', 'XUNVM', 'LOYKC', 'GBWYH', 'MEOEW', 'VMBCY', 'VPRKN',
       'QJEWY', 'CTWYV', 'DGHKM', 'QKXEE', 'QAVSF', 'SDJTI', 'MTTAQ',
       'WICAF', 'YHLQG', 'OKHTB', 'VMSSZ', 'BZRSS', 'BATCT', 'DVDWV',
       'QBCTB', 'XUCPM', 'FRTIW', 'EDRGU', 'MPGFN', 'NYVHM', 'OXSAF',
       'SCPKD', 'ILSBY', 'URAEN', 'PTRNL', 'BWRPM', 'ITFQZ', 'SGJHZ',
       'TEBLI', 'HCDEG', 'FKQKP', 'ZOQQR', 'FZYWS', 'QQSKK', 'RUTZT',
       'DXGAH', 'GTXLR', 'GAGVK', 'JKGNT', 'RJXLJ', 'MRPPS', 'DKQCL',
       'RECNU', 'DYSSI', 'ADIQJ', 'WMCBW', 'ZAWLV', 'YAKUZ', 'ZNXZX',
       'XYXNW', 'GPSUE', 'QVFLE', 'GUQPA', 'DYEPB', 'BXRTR', 'PSUBC',
       'DZZDK', 'GJMPO', 'ATZDS', 'FNNVN', 'WMXSZ', 'LCAIC', 'BLCUF',
       'QAHTQ', 'VICOJ', 'UPZAD', 'FELPR', 'GHEHY', 'MYLAO', 'QNYYY',
       'FSKAD', 'ZWKWX', 'KPZHN', 'JDMJI', 'VCKPZ', 'KCNDR', 'INGCC',
       'KFPUK', 'ZOBCF', 'MPVHI', 'YQYGW', 'BMIIB', 'OSKST', 'QTXLO',
       'RWMXI', 'UBJMO', 'MNQAA', 'ECGSP', 'TMRCT', 'HCLOX', 'XLICW',
       'UKAUE', 'PADIU', 'UILIA', 'NOJRS', 'FQZCR', 'SVPVA', 'YUIGT',
       'BBAUD', 'JECFB', 'RNMIR', 'FQVND', 'QNOKM', 'PIXCU', 'DKZXI',
       'MJKXQ', 'UFANY', 'ZLDCC', 'YKHCA', 'CYDOQ', 'YJCAW', 'GRTXR',
       'HJIJU', 'UZCWB', 'VTAPK', 'PTDQE', 'VBHPR', 'YAMXC', 'ISXRM',
       'BXFFR', 'BFRBB', 'MURPV', 'DWBGN', 'QJWOK', 'GQHEV', 'STOGD',
       'YJULJ', 'WNFOA', 'PYZNC', 'WRWQF', 'YPMSF', 'EXHGA', 'SRGQC',
       'UJNKN', 'MBIFE', 'CLTLN', 'ZQCSZ', 'QYNKI', 'DFHFH', 'LBCTN',
       'NHWJL', 'YDZEB', 'MSLHT', 'SIFHM', 'OWTVL', 'TFYEP', 'VYIXZ',
       'JKMLB', 'BIXUY', 'PXKAW', 'RMBXK', 'ZSCBJ', 'ILSEU', 'DPBJG',
       'KJHFZ', 'LQZXI', 'EOMGS', 'QNRJK', 'XQJNF', 'MGIGH', 'MNRHH',
       'UWRUN', 'OHESH', 'HINGX', 'JWHAB', 'TOPPH', 'LOHOF', 'YAVQW',
       'SODEA', 'JKTBY', 'LGXPZ', 'TLOSR', 'XLKXN', 'TXPAU', 'WYGOW',
       'YXIHH', 'QLDPG', 'DSBOX', 'LRVMD', 'XMHLT', 'UTPFR', 'RPNPY',
       'FFPLH', 'JRWTQ', 'QQEFO', 'GAUEU', 'DQNVC', 'GTKUQ', 'ASKVR',
       'XYOKS', 'WPWKF', 'VMEDO', 'UPJAS', 'QTAQQ', 'WITUB', 'KUYCT',
       'HLPNG', 'IRSWT', 'SALRZ', 'UTAYA', 'LHKIK', 'LWELG', 'CBKOT',
       'ISOXG', 'NDGPH', 'XULDR', 'VRQPC', 'EPPWL', 'XMLIK', 'HDOKB',
       'JYNZZ', 'YVUTE', 'PZPKM', 'TTXJJ', 'ILMIR', 'ALRAX', 'PTJGZ',
       'DIFGJ', 'DNNBK', 'NICOF', 'ZHWLH', 'UYYED', 'PZELP', 'GAGYO',
       'JBWUO', 'BQOOC', 'TVQBH', 'VRLEG', 'VFJNI', 'NDOSY', 'ZILSR',
       'ZQVVG', 'PKCGH', 'JWPMR', 'RMMSR', 'QRPSN', 'TQKDF', 'SRSWC',
       'XQFKS', 'QNFKF', 'QWHZC', 'HWNNC', 'ZNLCP', 'LSOTK', 'ICIHJ',
       'JZWFV', 'XIUDQ', 'TGTHZ', 'DSIAM', 'OGTJB', 'FIZXV', 'LQQXO',
       'XITAV', 'PNRHG', 'YPLRZ', 'UAJMX', 'YZBVW', 'KAXVD', 'RJMKM',
       'DWELC', 'ZNRDM', 'JYJAZ', 'WIBMQ', 'TAUOA', 'IEKXL', 'BDJKH',
       'NDCXD', 'RZLLM', 'RTVOZ', 'DYDFY', 'TKXLC', 'LDJNG', 'TDIVV',
       'LZVTQ', 'JQTUH', 'FLPUW', 'XQHAJ', 'WTMNP', 'MRSBC', 'DOAWO',
       'HMUPZ', 'MXYAQ', 'MVWVE', 'JYBKK', 'GXHYY', 'QVCYN', 'AYEDF',
       'DZRHZ', 'FDFJO', 'OIUER', 'KUHMP', 'SUVHH', 'JGPLN', 'VIFMY',
       'SDZBI', 'YCOSO', 'WQRXU', 'NPYNY', 'JLESE', 'ILLQB', 'OHAQX',
       'KQBUH', 'EJGWB', 'VIEBN', 'BDYYM', 'TOOUU', 'MNGJL', 'AOADW',
       'NCNAW', 'TBQAM', 'WPECZ', 'QEPPS', 'ZHRUC', 'ZHKOH', 'TZLEL',
       'NIWTJ', 'OQLKQ', 'LTSME', 'NZZOQ', 'WEOGZ', 'YPHIJ', 'LIQBR',
       'ZCPEX', 'ALHRN', 'OKTNF', 'FPIST', 'LQIVJ', 'TMWJJ', 'AVNCD',
       'ADNPG', 'KKIEV', 'SMYAX', 'SPLLA', 'GBEAR', 'DFMHT', 'FEEGC',
       'CWKVE', 'KCUSA', 'AKTIT', 'FLNBE', 'XCDMO', 'BJADP', 'MBFKY',
       'GZVWA', 'OKAHU', 'ISJVE', 'JPUJR', 'XBQFD', 'PSRJX', 'GDUCT',
       'GVCTY', 'VAZAP', 'DSODA', 'PAYNN', 'ZEXOB', 'PTGHL', 'BLRAE',
       'RCDDJ', 'RYVLS', 'XXQJZ', 'EYOUF', 'SZSZK', 'XVBEG', 'LBBFQ',
       'FPNBF', 'YSPEI', 'KTZWM', 'TGXJU', 'KLKDP', 'FAWTY', 'HQGAS',
       'BCKHC', 'RFRWT', 'YMXVM', 'JGIXC', 'REJHO', 'YMNLR', 'LGENM',
       'UXBKY', 'KPZYQ', 'SDKUJ', 'LSZIL', 'XZREU', 'HLFQG', 'UWDNQ',
       'MUSRA', 'XSIKG', 'XIKIG', 'EVOIO', 'YCITI', 'KWAMV', 'WSXLR',
       'SXROH', 'JWWZN', 'BMMLT', 'EWANM', 'THRPK', 'FCKOG', 'WCAIQ',
       'PCOVF', 'FOIZY', 'MMRFP', 'MNUJO', 'AQBUB', 'IZRJB', 'JLSAG',
       'VMCLP', 'WUEBT', 'LCRZK', 'ZKXFL', 'BKIKC', 'BWWMC', 'SJVCB',
       'JCMIX', 'WBIZO', 'XNSTQ', 'EIRMO', 'YKCUT', 'LSNDX', 'DZIOA',
       'IMNXM', 'OZBSW', 'ERLZS', 'MVYJM', 'RKEKU', 'WUTSU', 'MKONI',
       'UYUZO', 'ZCUDG', 'GLYDM', 'JJTGY', 'MWDOA', 'ELKBS', 'PJUAX',
       'TFHWC', 'ZSYNO', 'CBYGS', 'UPDWF', 'XYATN', 'INISX', 'BIKBT',
       'KXHSF', 'VJGIV', 'HEGFW', 'HQHLR', 'KVBQD', 'IZPKU', 'YVIVK',
       'FTHCL', 'JUTZW', 'UUOSF', 'YVVYK', 'ZEUUV', 'CSVEV', 'WORCU',
       'JLAFQ', 'ALXIG', 'WKWCB', 'BBFWT', 'MGBEN', 'OOLLE', 'HHRYP',
       'KTTSZ', 'LQOQF', 'BJYEH', 'OFWLB', 'WTSID', 'REOJL', 'TCTPL',
       'WERVI', 'YAHRO', 'GLMVE', 'WPITP', 'CLPXZ', 'PGADL', 'YYZZX',
       'YQQAD', 'KEYTR', 'GKQAP', 'NNQST', 'FPAVL', 'YEAIS', 'CYCDF',
       'SXEGF', 'ZOZVZ', 'NMDCA', 'HKBDA', 'QNKQK', 'PHCSZ', 'ICKGJ',
       'CJYCG', 'YSHSQ', 'LGQCE', 'NLSRJ', 'KTHZN', 'MUKPW', 'QCERS',
       'GXZVX', 'OLCYN', 'BTSRS', 'TXZCR', 'YUHOR', 'QXCVN', 'UHXDI',
       'VXUSK', 'PWECI', 'EBGZI', 'TITBA', 'MWSRD', 'WLNKI', 'DADVB',
       'ETKKE', 'CTDDG', 'ONQAB', 'CPURJ', 'LUKUK', 'IMNCI', 'FLGXV',
       'VTVIP', 'PAKBZ', 'JXTRO', 'GFHDO', 'IHDZO', 'ZKPKB', 'AIKZK',
       'SZQAR', 'AVILB', 'JKIPN', 'TEFGP', 'ZWDIA', 'ROACD', 'XLLHL',
       'VREAP', 'EWXIA', 'WWOXU', 'IUAJZ', 'VDBBK', 'ULTLU', 'USYEY',
       'DMKZJ', 'ZSSRZ', 'DFPAD', 'VEJNG', 'ROYYX', 'NQTDN', 'TLOYG',
       'BVVVV', 'MWGUO', 'FBYXA', 'SZQHV', 'CMFKN', 'CSQWZ', 'KYDYJ',
       'GSZXN', 'YPOAK', 'IUHMK', 'GUQNN', 'DUKNM', 'HFGYE', 'TJRSR',
       'VYJJH', 'UMCPL', 'MUPIW', 'GRHJO', 'KBTOX', 'OTRIQ', 'NPORW',
       'AHUVN', 'XJKUB', 'HDFDJ', 'EACKG', 'TDAQA', 'GWNUG', 'IWTKN',
       'ZNXNO', 'VHNGY', 'KOSKX', 'XTCEE', 'QQQZS', 'UZLBJ', 'YEEZJ',
       'PIMMG', 'VIEZS', 'KZNBT', 'DAXUI', 'DQEWF', 'TZITV', 'FXFEE',
       'HNRYE', 'VWUKS', 'DVCXY', 'JLUPZ', 'VOZPP', 'ZTHWZ', 'BEJOR',
       'FMUBG', 'FUWGN', 'ZYTZZ', 'QRTFE', 'OLQVX', 'TKUBQ', 'BONWP',
       'CPINL', 'QQALO', 'AZDQM', 'NHGEB', 'KADWN', 'RVNUE', 'XNHTQ',
       'RQQMT', 'CKUJV', 'FKGMR', 'VIYMA', 'SLXXZ', 'JNTNX', 'TWSGH',
       'FOPKV', 'NJLKN', 'TIBHG', 'OHYTQ', 'CQQNU', 'VESOO', 'DXUXW',
       'KSWIY', 'OTQYI', 'CGUAW', 'JEIZT', 'CKPTQ', 'OFBDL', 'HBDDM',
       'KXOXY', 'XDVTQ', 'CIXFZ', 'FSHPC', 'QXTAW', 'WQCRZ', 'WBENF',
       'GPNYZ', 'OESMR', 'EEPRM', 'NBOJA', 'PWZER', 'IIGJJ', 'KYVML',
       'VZXJA', 'ILSDP', 'ZSUUV', 'SBBIQ', 'JRQNY', 'MYBXL', 'BONFT',
       'RLFFV', 'IXOZU', 'UWGQC', 'RGAPI', 'KYSCO', 'BRRYO', 'BHUFN',
       'NSYHW', 'PAJIB', 'ZGVVY', 'EYXAN', 'KVTXM', 'WWEQQ', 'YPMEE',
       'TTYKM', 'SHJWQ', 'WGPSV', 'NRAQP', 'FADTI', 'UXKVW', 'KMATA',
       'QMFAS', 'GLSAV', 'XHFRG', 'GFQJE', 'SYNSQ', 'XCQTG', 'ZOWQN',
       'XANBW', 'EBDIH', 'GGEKC', 'AVNAU', 'SIQBH', 'VCWXE', 'ZMQNB',
       'YDZJM', 'QLPON', 'GFQJK', 'QXHJL', 'FFYPB', 'BVPHN'],
      dtype='|S5')

In [16]:
# Weighted sum of factors plus noise
port = Series(0.7 * fac1 - 1.2 * fac2 + 0.3 * fac3 + rand(1000),
              index=ticker_subset)
port

KXONF    0.666427
IDRQU   -0.233777
DYLEV    0.912381
LNFAG    0.234985
EXAWE    1.235317
QVFYQ    0.775485
           ...
YDZJM    0.396901
QLPON    0.427898
GFQJK    0.329740
QXHJL    0.898265
FFYPB   -0.089169
BVPHN    1.117147
dtype: float64

In [18]:
factors = DataFrame({'f1': fac1, 'f2': fac2, 'f3': fac3},
                    index=ticker_subset)
factors

             f1        f2        f3
KXONF  0.509633  0.384941  0.145828
IDRQU  0.290605  0.949557  0.134366
DYLEV  0.415322  0.236159  0.341086
LNFAG  0.273756  0.305527  0.617461
EXAWE  0.756990  0.109956  0.385643
QVFYQ  0.833804  0.548872  0.356907
...         ...       ...       ...
YDZJM  0.480712  0.767855  0.863414
QLPON  0.071351  0.615186  0.427522
GFQJK  0.462529  0.221838  0.715731
QXHJL  0.868561  0.149526  0.827179
FFYPB  0.997429  0.882756  0.338870
BVPHN  0.559574  0.107338  0.019303

[1000 rows x 3 columns]

In [19]:
factors.corrwith(port)

f1    0.378438
f2   -0.705202
f3    0.138906
dtype: float64

In [25]:
pd.ols

In [26]:
import scikits

ImportError: No module named scikits

In [24]:
pd.ols(y=port, x=factors).beta

ImportError: No module named scikits.statsmodels.api

In [292]:
def beta_exposure(chunk, factors=None):
    return pd.ols(y=chunk, x=factors).beta

In [293]:
by_ind = port.groupby(industries)
exposures = by_ind.apply(beta_exposure, factors=factors)
exposures.unstack()

/Library/Python/2.7/site-packages/pandas/core/groupby.py:636: FutureWarning: The pandas.stats.ols module is deprecated and will be removed in a future version. We refer to external packages like statsmodels, see some examples here: http://statsmodels.sourceforge.net/stable/regression.html
  return func(g, *args, **kwargs)

ImportError: No module named scikits.statsmodels.api

### Decile and quartile analysis

In [40]:
import pandas.io.data as web
data = web.get_data_yahoo('SPY', '2006-01-01')
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2760 entries, 2006-01-03 to 2016-12-16
Data columns (total 6 columns):
Open         2760 non-null float64
High         2760 non-null float64
Low          2760 non-null float64
Close        2760 non-null float64
Volume       2760 non-null int64
Adj Close    2760 non-null float64
dtypes: float64(5), int64(1)
memory usage: 150.9 KB

In [41]:
data

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2006-01-03,125.190002,127.000000,124.389999,126.699997,73256700,101.027353
2006-01-04,126.860001,127.489998,126.699997,127.300003,51899600,101.505782
2006-01-05,127.150002,127.589996,126.879997,127.379997,47307500,101.569568
2006-01-06,128.020004,128.580002,127.360001,128.440002,62885900,102.414789
2006-01-09,128.419998,129.059998,128.380005,128.770004,43527400,102.677924
2006-01-10,128.389999,128.979996,128.259995,128.899994,44960800,102.781574
...,...,...,...,...,...,...
2016-12-09,225.410004,226.529999,225.369995,226.509995,88005800,225.182747
2016-12-12,226.399994,226.960007,225.759995,226.250000,102016100,224.924276
2016-12-13,227.020004,228.339996,227.000000,227.759995,110477500,226.425423
2016-12-14,227.410004,228.229996,225.369995,225.880005,142501800,224.556449
2016-12-15,226.160004,227.809998,225.889999,226.809998,124972600,225.480992
2016-12-16,226.009995,226.080002,224.669998,225.039993,144174300,225.039993

In [30]:
px = data['Adj Close']
px

Date
2006-01-03    101.027353
2006-01-04    101.505782
2006-01-05    101.569568
2006-01-06    102.414789
2006-01-09    102.677924
2006-01-10    102.781574
                 ...
2016-12-09    225.182747
2016-12-12    224.924276
2016-12-13    226.425423
2016-12-14    224.556449
2016-12-15    225.480992
2016-12-16    225.039993
Name: Adj Close, dtype: float64

In [31]:
returns = px.pct_change()
returns

Date
2006-01-03         NaN
2006-01-04    0.004736
2006-01-05    0.000628
2006-01-06    0.008322
2006-01-09    0.002569
2006-01-10    0.001009
                ...
2016-12-09    0.006040
2016-12-12   -0.001148
2016-12-13    0.006674
2016-12-14   -0.008254
2016-12-15    0.004117
2016-12-16   -0.001956
Name: Adj Close, dtype: float64

In [42]:
def to_index(rets):
    index = (1 + rets).cumprod()
    first_loc = max(index.index.get_loc(index.idxmax()) - 1, 0)
    index.values[first_loc] = 1
    return index

def trend_signal(rets, lookback, lag):
    signal = pd.rolling_sum(rets, lookback, min_periods=lookback - 5)
    return signal.shift(lag)

In [62]:
test = (returns+1).cumprod()
test

Date
2006-01-03         NaN
2006-01-04    1.004736
2006-01-05    1.005367
2006-01-06    1.013733
2006-01-09    1.016338
2006-01-10    1.017364
                ...
2016-12-09    2.228929
2016-12-12    2.226370
2016-12-13    2.241229
2016-12-14    2.222729
2016-12-15    2.231881
2016-12-16    2.227515
Name: Adj Close, dtype: float64

In [60]:
test.idxmax()

Timestamp('2016-12-13 00:00:00')

In [66]:
test.index.get_loc(test.idxmax())

2756

In [78]:
test.argmax()

Timestamp('2016-12-13 00:00:00')

In [70]:
test.index[2759]

Timestamp('2016-12-16 00:00:00')

In [65]:
test[2756]

2.2412288976827917

In [55]:
test.index

DatetimeIndex(['2006-01-03', '2006-01-04', '2006-01-05', '2006-01-06',
               '2006-01-09', '2006-01-10', '2006-01-11', '2006-01-12',
               '2006-01-13', '2006-01-17',
               ...
               '2016-12-05', '2016-12-06', '2016-12-07', '2016-12-08',
               '2016-12-09', '2016-12-12', '2016-12-13', '2016-12-14',
               '2016-12-15', '2016-12-16'],
              dtype='datetime64[ns]', name=u'Date', length=2760, freq=None)

In [39]:
trend_signal

In [88]:
signal = trend_signal(returns, 100, 3)
signal

/Library/Python/2.7/site-packages/ipykernel/__main__.py:8: FutureWarning: pd.rolling_sum is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(min_periods=95,window=100,center=False).sum()

Date
2006-01-03         NaN
2006-01-04         NaN
2006-01-05         NaN
2006-01-06         NaN
2006-01-09         NaN
2006-01-10         NaN
                ...
2016-12-09    0.033529
2016-12-12    0.043923
2016-12-13    0.047388
2016-12-14    0.049266
2016-12-15    0.051895
2016-12-16    0.054084
Name: Adj Close, dtype: float64

In [ ]:
trade_friday = signal.resample('W-FRI').resample('B', fill_method='ffill')
trade_rets = trade_friday.shift(1) * returns
trade_rets = trade_rets[:len(returns)]

In [ ]:
to_index(trade_rets).plot()

In [ ]:
vol = pd.rolling_std(returns, 250, min_periods=200) * np.sqrt(250)

def sharpe(rets, ann=250):
    return rets.mean() / rets.std()  * np.sqrt(ann)

In [ ]:
cats = pd.qcut(vol, 4)
print('cats: %d, trade_rets: %d, vol: %d' % (len(cats), len(trade_rets), len(vol)))

In [ ]:
trade_rets.groupby(cats).agg(sharpe)

## More example applications

### Signal frontier analysis

In [ ]:
names = ['AAPL', 'GOOG', 'MSFT', 'DELL', 'GS', 'MS', 'BAC', 'C']
def get_px(stock, start, end):
    return web.get_data_yahoo(stock, start, end)['Adj Close']
px = DataFrame({n: get_px(n, None, None) for n in names})

In [ ]:
#px = pd.read_csv('ch11/stock_px.csv')

In [ ]:
plt.close('all')

In [ ]:
px = px.asfreq('B').fillna(method='pad')
rets = px.pct_change()
((1 + rets).cumprod() - 1).plot()

In [ ]:
def calc_mom(price, lookback, lag):
    mom_ret = price.shift(lag).pct_change(lookback)
    ranks = mom_ret.rank(axis=1, ascending=False)
    demeaned = ranks.subtract(ranks.mean(axis=1), axis=0)
    return demeaned.divide(demeaned.std(axis=1), axis=0)

In [ ]:
compound = lambda x : (1 + x).prod() - 1
daily_sr = lambda x: x.mean() / x.std()

def strat_sr(prices, lb, hold):
    # Compute portfolio weights
    freq = '%dB' % hold
    port = calc_mom(prices, lb, lag=1)

    daily_rets = prices.pct_change()

    # Compute portfolio returns
    port = port.shift(1).resample(freq, how='first')
    returns = daily_rets.resample(freq, how=compound)
    port_rets = (port * returns).sum(axis=1)

    return daily_sr(port_rets) * np.sqrt(252 / hold)

In [ ]:
strat_sr(px, 70, 30)

In [ ]:
from collections import defaultdict

lookbacks = range(20, 90, 5)
holdings = range(20, 90, 5)
dd = defaultdict(dict)
for lb in lookbacks:
    for hold in holdings:
        dd[lb][hold] = strat_sr(px, lb, hold)

ddf = DataFrame(dd)
ddf.index.name = 'Holding Period'
ddf.columns.name = 'Lookback Period'

In [ ]:
import matplotlib.pyplot as plt

def heatmap(df, cmap=plt.cm.gray_r):
    fig = plt.figure()
    ax = fig.add_subplot(111)
    axim = ax.imshow(df.values, cmap=cmap, interpolation='nearest')
    ax.set_xlabel(df.columns.name)
    ax.set_xticks(np.arange(len(df.columns)))
    ax.set_xticklabels(list(df.columns))
    ax.set_ylabel(df.index.name)
    ax.set_yticks(np.arange(len(df.index)))
    ax.set_yticklabels(list(df.index))
    plt.colorbar(axim)

In [ ]:
heatmap(ddf)

### Future contract rolling

In [ ]:
pd.options.display.max_rows = 10

In [ ]:
import pandas.io.data as web
# Approximate price of S&P 500 index
px = web.get_data_yahoo('SPY')['Adj Close'] * 10
px

In [ ]:
from datetime import datetime
expiry = {'ESU2': datetime(2012, 9, 21),
          'ESZ2': datetime(2012, 12, 21)}
expiry = Series(expiry).order()

In [ ]:
expiry

In [ ]:
np.random.seed(12347)
N = 200
walk = (np.random.randint(0, 200, size=N) - 100) * 0.25
perturb = (np.random.randint(0, 20, size=N) - 10) * 0.25
walk = walk.cumsum()

rng = pd.date_range(px.index[0], periods=len(px) + N, freq='B')
near = np.concatenate([px.values, px.values[-1] + walk])
far = np.concatenate([px.values, px.values[-1] + walk + perturb])
prices = DataFrame({'ESU2': near, 'ESZ2': far}, index=rng)

In [ ]:
prices.tail()

In [ ]:
def get_roll_weights(start, expiry, items, roll_periods=5):
    # start : first date to compute weighting DataFrame
    # expiry : Series of ticker -> expiration dates
    # items : sequence of contract names

    dates = pd.date_range(start, expiry[-1], freq='B')
    weights = DataFrame(np.zeros((len(dates), len(items))),
                        index=dates, columns=items)

    prev_date = weights.index[0]
    for i, (item, ex_date) in enumerate(expiry.iteritems()):
        if i < len(expiry) - 1:
            weights.ix[prev_date:ex_date - pd.offsets.BDay(), item] = 1
            roll_rng = pd.date_range(end=ex_date - pd.offsets.BDay(),
                                     periods=roll_periods + 1, freq='B')

            decay_weights = np.linspace(0, 1, roll_periods + 1)
            weights.ix[roll_rng, item] = 1 - decay_weights
            weights.ix[roll_rng, expiry.index[i + 1]] = decay_weights
        else:
            weights.ix[prev_date:, item] = 1

        prev_date = ex_date

    return weights

In [ ]:
weights = get_roll_weights('6/1/2012', expiry, prices.columns)
weights.ix['2012-09-12':'2012-09-21']

In [ ]:
rolled_returns = (prices.pct_change() * weights).sum(1)

### Rolling correlation and linear regression

In [ ]:
aapl = web.get_data_yahoo('AAPL', '2000-01-01')['Adj Close']
msft = web.get_data_yahoo('MSFT', '2000-01-01')['Adj Close']

aapl_rets = aapl.pct_change()
msft_rets = msft.pct_change()

In [ ]:
plt.figure()

In [ ]:
pd.rolling_corr(aapl_rets, msft_rets, 250).plot()

In [ ]:
plt.figure()

In [ ]:
model = pd.ols(y=aapl_rets, x={'MSFT': msft_rets}, window=250)
model.beta

In [ ]:
model.beta['MSFT'].plot()